<ion-view title="About Us">
  <ion-content>
    <ion-item class="item noborder nopadding text-center">
      <img src="img/logo.png" style="height: 150px;width: 150px">
    </ion-item>
  	<!-- <ion-item class="item noborder">
  		<div style="height: 115px;width: 115px;border-radius: 50%;background-color: #EC1366;text-align: center;padding-top: 45px;color: floralwhite;margin: auto;border: 2px solid darkgrey;">About Us</div>
  	</ion-item> -->
  	<ion-item class="item noborder item-text-wrap">
      <b>Salonsnearby</b> helps people find a perfect salon & spa for themselves. The app is self-explanatory & it doesn’t require any login for its maximum usage. It gives location based results & provides comprehensive details about the salon/spa in nearby including their rate card, features, offers and all the basic details one would need to make a decision. One can also locate & get the directions within. For booking, one can make a call from the app and speak to vendor directly. 
      By logging in one can rate and review a salon/spa, report any wrong information and mark places as favorites for future reference.
		<!-- <p><b><u style="font-style: italic;">Salonsnearby</u></b> helps people find a perfect salon, spa, tattoo studio or beauty clinic for themselves. It gives free access to its users to all the relevant information that can be required to make a decision an accurate decision. Users can explore the deals offered by the vendor and make contact directly.</p> -->
  	</ion-item><br/><br/><br/><br/><br/>
  	<ion-list>
	  	<button class="button button-block button-stable" ui-sref="app.privacy">
		  PRIVACY POLICY
		</button>
		<button class="button button-block button-stable" ui-sref="app.tnc">
		  TERMS & CONDITIONS
		</button>
  	</ion-list>
  </ion-content>
</ion-view>