<ion-view title="Add Your Offers/Deals">
  <ion-content>
  	<ion-item class="item item-divider mydevider calm noborder">
        Add Your Offers/Deals
    </ion-item>
  	<ion-item class="item noborder item-text-wrap">
  		<p>Write to us from your registered email ID to<a href="mailto:deals@salonsnearby.com?"><b> deals@salonsnearby.com</b></a> with subject <b>“deals”</b> and we will reply you with details.</p><br/>OR<br/><br/>
  		<p>SMS <b> “DEALS”</b> to  to mobile no.:<b> 7052-727-727</b> from your registered mobile number & we will contact you.</p>
  	</ion-item>
  </ion-content>
</ion-view>