<ion-view title="Advertise with us">
  <ion-content>
    <ion-item class="item noborder nopadding text-center">
      <img src="img/logo.png" style="height: 150px;width: 150px">
    </ion-item>
  	<!-- <ion-item class="item noborder">
  		<div style="height: 132px;width: 140px;border-radius: 50%;background-color: #EC1366;text-align: center;padding-top: 52px;color: floralwhite;margin: auto;border: 2px solid darkgrey;">Advertise with us</div>
  	</ion-item> -->
  	<div class="list" style="margin:5px">
  		<ion-item class="item padding item-text-wrap noborder">
  			<p>You can advertise in the home page scroll for selected region or whole of the country. For details, write to us at <a href="mailto:deals@salonsnearby.com?"><b>deals@salonsnearby.com</b></a> with subject “ADV” and we will get back to you with details.</p>	<br/>OR<br/>	
        <p>sms <b>"ADV"</b> to mobile no.: <b>7052-727-727</b> and we will get back to you.</p>
	  	</ion-item>
	</div>
  </ion-content>
</ion-view>