<ion-view title="Advertise your Biz/Offers">
  <ion-content>
  	<ion-item class="item item-divider mydevider calm noborder">
        Advertise your Biz/Offers
    </ion-item>
  	<ion-item class="item noborder item-text-wrap">
		<p>You can Advertise your business or Offer in home page. Write to us at 
		<a href="mailto:deals@salonsnearby.com?"><b>deals@salonsnearby.com</b></a> with subject <b>“ADV”</b> from your registered email ID to and we will reply you with details.</p><br/>OR<br/><br/>
  		<p>SMS <b>“feature”</b> to  mobile no.:<b>7052-727-727</b> from your registered mobile no. and we will contact you.</p>
  	</ion-item>
  </ion-content>
</ion-view>