<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">All Reviews</h1>
    <div class="button button-clear" ng-click="closeReadReviewModal()">
      <i class="ion-android-close" style="font-size:30px"></i>
    </div>
  </ion-header-bar>
  <ion-content delegate-handle="messageScroll">
    <ion-item ng-if="loader" style="border-style: none;">
      <h2 style="margin-top:40%;"class="positive" align="center">
        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
      </h2>
    </ion-item>
    <div class="list" ng-if="!loader">      
      <a class="item item-avatar item-text-wrap" ng-repeat="review in reviews | orderBy:'id':false">
        <img src="img/logo.png" ng-if="!review.imageUrl">  
        <img src="{{review.imageUrl}}" ng-if="review.imageUrl">
        <h2 style="font-weight: bold;">{{review.name}}
          <span class="item-note" style="background-color: green;color: white;padding: 2px" 
          ng-if="review.userRating">
            {{review.userRating}}
          </span>
        </h2>
        <p>{{review.date}}</p>
        <p style="margin-top: 10px">
          <span>
            <i class="energized icon ion-ios-star" ng-repeat="star in review.fullStars" 
            style="font-size:15px"></i>
            <i class="energized icon ion-ios-star-half" ng-if="review.halfStar" style="font-size:15px"></i>
            <i class="energized icon ion-ios-star-outline" style="font-size:15px" 
            ng-repeat="star in review.blankStars"></i>
          </span>
          <span style="padding-left: 5px;text-transform: capitalize;">{{review.title}},</span>
        </p>
        <p hm-read-more hm-text="{{review.comment}}" hm-limit="100" hm-more-text="See more" hm-less-text="See less"></p>
      </a>
    </div>
  </ion-content>
</ion-modal-view>
    
      
     