<ion-view title="Add Your Buisness">
  	<ion-content>
  		<ion-item class="item noborder nopadding text-center">
	      	<img src="img/logo.png" style="height: 150px;width: 150px">
	    </ion-item>
	  	<!-- <ion-item class="item noborder">
	  		<div style="height: 132px;width: 150px;border-radius: 50%;background-color: #EC1366;text-align: center;padding-top: 45px;color: floralwhite;margin: auto;border: 2px solid darkgrey;">Add Your Buisness</div>
	  	</ion-item> -->
	  	<ion-item ng-if="loader" style="border-style: none;">
	      <h2 style="margin-top:20%;"class="positive" align="center">
	        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
	      </h2>
	    </ion-item>
	    <div class="list" style="margin:5px" ng-if="!loader">
	  		<ion-item class="item padding item-text-wrap text-center noborder">
	  			<p style="font-size: 16px;">Send us your details and we will get back to you.</p>		
		  	</ion-item>
		  	<label class="item item-input">
		        <!-- <span class="input-label calm">Name</span> -->
		        <input type="text" placeholder="Name of Contact person *" ng-model="buisness.name">
		    </label>
		    <label class="item item-input">
		        <!-- <span class="input-label calm">Contact Number</span> -->
		        <input type="number" placeholder="Contact Number *" ng-model="buisness.mobile">
		    </label>
		    <label class="item item-input">
		        <!-- <span class="input-label calm">E-mail</span> -->
		        <input type="email" placeholder="Email Address" ng-model="buisness.email">
		    </label> 
		    <label class="item item-input">
		      <textarea ng-model="buisness.address" placeholder="Name & Address of Business * :-" 
		      style="min-height:100px"></textarea>
		    </label>
		    <li class="item item-checkbox rounded-bottom noborder">
			    <label class="checkbox">
			      <input type="checkbox" ng-model="buisness.checked">
			    </label>
			    <span style="font-size:75%" ng-click="venderModal.show()">
			    	<u class="positive">Accept Terms & Conditions</u>
			    </span>
			</li>		    
		    <!-- <ion-checkbox class="noborder" ng-model="buisness.checked">Accept the terms and conditions</ion-checkbox>   --> 
		    <button class="button button-block button-calm" ng-click="submitBuisness()">
		       Submit
		    </button>
	    </div>
	</ion-content>
</ion-view>	