<ion-view title="Contact Us">
  	<ion-content>
  		<ion-item class="item noborder nopadding text-center">
	      	<img src="img/logo.png" style="height: 150px;width: 150px">
	    </ion-item>
  		<!-- <ion-item class="item noborder">
	  		<div style="height: 115px;width: 115px;border-radius: 50%;background-color: #EC1366;text-align: center;padding-top: 45px;color: floralwhite;margin: auto;border: 2px solid darkgrey;">Contact Us</div>
	  	</ion-item> -->
	  	<ion-item ng-if="loader" style="border-style: none;">
	      <h2 style="margin-top:20%;"class="positive" align="center">
	        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
	      </h2>
	    </ion-item>
	  	<div class="list" style="margin:5px;margin-top: -40px;" ng-if="!loader">
	  		<ion-item class="item padding item-text-wrap noborder">	
	  			<p style="font-size: 16px;margin-bottom: 10px;">For business, media or any other enquiries, write to us at <a href="mailto:ceo@salonsnearby.com"><b>ceo@salonsnearby.com.</b></a></p>  	
	  			<p style="font-size: 16px;">For feedback & suggestions please write to us:
	  		<a href="mailto:info@salonsnearby.com"><b> info@salonsnearby.com"</b></a></p>	
	  			<p style="font-size: 16px;">Or fill the details:</p>	
		  	</ion-item>
		  	<label class="item item-input">
		        <!-- <span class="input-label calm">Name</span> -->
		        <input type="text" placeholder="Name" ng-model="contact.name">
		    </label>
		    <label class="item item-input">
		        <!-- <span class="input-label calm">Subject</span> -->
		        <input type="text" placeholder="Subject" ng-model="contact.subject">
		    </label>
		    <label class="item item-input">
		        <!-- <span class="input-label calm">E-mail</span> -->
		        <input type="email" placeholder="Email" ng-model="contact.email">
		    </label> 
		    <label class="item item-input">
		      <textarea ng-model="contact.text" style="min-height:100px" placeholder="Write Your Query:-">
		      </textarea>
		    </label>		      
		    <button class="button button-block button-calm" ng-click="submitContact()">
		       Submit
		    </button>
		    <!-- <ion-item class="item noborder padding item-text-wrap">
	  			<p style="font-size: 16px;">Or email us at <b>info@salonsnearby.com</b></p>
	  			
		  	</ion-item> -->
	    </div>
  	</ion-content>
</ion-view>