<ion-view title="Contact Us">
  <ion-content scroll="true">
    <ion-item class="item noborder text-center">
      <img src="img/logo.png" style="height: 130px;width: 130px">
    </ion-item>
    <ion-item ng-if="loader" style="border-style: none;">
      <h2 style="margin-top:20%;"class="positive" align="center">
        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
      </h2>
    </ion-item>
    <div class="list" style="margin:5px;margin-top:-40px">      
      <ion-item class="item padding item-text-wrap noborder">
        <p>We would love to hear from you. Reach us for anything at <a href="mailto:info@salonsnearby.com?"><b>info@salonsnearby.com</b></a> or write here:</p>
      </ion-item> 
      <label class="item item-input">
          <!-- <span class="input-label calm">Name</span> -->
          <input type="text" placeholder="Name" ng-model="contact.name">
      </label>
      <label class="item item-input">
          <!-- <span class="input-label calm">Subject</span> -->
          <input type="text" placeholder="Subject" ng-model="contact.subject">
      </label>
      <label class="item item-input">
          <!-- <span class="input-label calm">E-mail</span> -->
          <input type="email" placeholder="Email" ng-model="contact.email">
      </label> 
      <label class="item item-input">
        <textarea ng-model="contact.text" style="min-height:100px" placeholder="Write Your Query:-">
        </textarea>
      </label>          
      <button class="button button-block button-calm" ng-click="submitContact()" ng-disable="loader">
         Submit
      </button>
      <ion-item class="item item-icon-right" ui-sref="app.buisness" ng-disable="loader">
        Add Your Buisness
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="app.vender">
        Vendor Support
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
    </div>
     <!--  <ion-item class="item item-icon-right" ui-sref="app.vender">
        Vendor Support
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="app.advertise">
        Advertise with us
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="app.work">
        Work with us
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="app.contactUs">
        Contact Us
        <i class="icon ion-ios-arrow-right"></i>   -->  
  </ion-content>
</ion-view>