<ion-view title="Dog walker request">
  	<ion-content  >  
		<div class="list" ng-show="!loader">			
			<!-- <label class="item item-input item-select">
			    <div class="input-label">
			      Select pet
			    </div>
			    <select ng-model="walker.pet" ng-options="pet.name as pet.name for pet in pets">
			      <option value="" disabled selected style="display: none;">All Pets</option>
			    </select>
			</label> -->
			<label class="item item-input item-select">
			    <div class="input-label">
			      Select shift
			    </div>
			    <select ng-model="walker.shift">
			      <option value="1" selected>One time a day</option>
			      <option value="2">Twice a day</option>
			      <option value="3">Thrice a day</option>
			    </select>
			</label>
			<label class="item item-input">
		        <!-- <span class="input-label calm">E-mail</span> -->
		        <input type="text" placeholder="Write mobile number" ng-model="walker.mobile">
		    </label>
			<label class="item item-input">
		        <!-- <span class="input-label calm">E-mail</span> -->
		        <input type="email" placeholder="Email" ng-model="walker.email">
		    </label> 		    
		    <label class="item item-input">
		      <textarea ng-model="walker.address" style="min-height:100px" placeholder="Write your address:-">
		      </textarea>
		    </label>
		    <label class="item item-input">
		        <!-- <span class="input-label calm">E-mail</span> -->
		        <input type="text" placeholder="Landmark :-" ng-model="walker.landmark">
		    </label>			
		</div>
		<div class="noborder nopadding" style="margin-top:-10px;padding:0 10% 10px 10%"
		ng-show="!loader">
	       <button class="button button-full button-positive" style="border-radius:20px;" ng-click="createRequest()">
	          Create request
	       </button>
	    </div>
	    <ion-item ng-if="loader" style="border-style: none;">
		    <h2 style="margin-top:40%;"class="positive" align="center">
		    	<ion-spinner icon="lines"></ion-spinner>
		    </h2>
	    </ion-item> 
  	</ion-content>
</ion-view>