<ion-view view-title="Favorites"> 
    <ion-content overflow-scroll="true">
    	<ion-item ng-if="loader" style="border-style: none;">
	      <h2 style="margin-top:40%;"class="positive" align="center">
	        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
	      </h2>
	    </ion-item>
		<ion-item class="content nopadding noborder" ng-if="!loader">	
			<div class="list">
				<div class="card" ng-show="saloons.length==0" style="border-style: none;box-shadow: none;">
			      	<div class="item text-center item-text-wrap">
			        	<p style="color:grey">No salons available in your favorites list</p>
			        	<span class="icon ion-coffee" style="font-size: 160px;color:grey;"></span>
			      	</div>
			    </div>
	    		<div class="card card1" ng-repeat="saloon in saloons | orderBy:id:reverse">
	    			<img ng-src="{{saloon.imageUrl}}" class="myimage" ng-click=getDetails(saloon)>
	    			<div class="overimage right-effect" style=""></div>
	    			<span class="overimage premium">
	    				<span class="energized">{{saloon.categoryName}}</span>
	    			</span>
	    			<span class="overimage doorstep" ng-if="saloon.doorStepServices">
	    				<span class="energized">DOORSTEP</span>
	    			</span>
	    			<span class="overimage wrap review">    				
	    			  <span class="right">	    			  	
	    			  	<i class="energized icon ion-ios-star-half riview-icon"></i>
	    				<!-- <i class="energized icon ion-ios-star riview-icon" ng-repeat="star in saloon.fullStars"></i>
			            <i class="energized icon ion-ios-star-half riview-icon" ng-if="saloon.halfStar"></i>
			        	<i class="energized icon ion-ios-star-outline riview-icon" 
			        		ng-repeat="star in saloon.blankStars"></i> -->
			        	<span ng-if="saloon.salonRating" style="font-size: 13px;">
			        		{{saloon.salonRating}}
			        	</span>
	    			  	<span ng-if="!saloon.salonRating" style="font-size: 13px;">0.0</span>
	    			  </span>
	    			  <p class="right" style="margin-top: 3px">{{saloon.reviewNumber}} Reviews</p>
	    			</span>
	    			<span class="overimage closed">
	    				<span class="assertive" ng-if="!saloon.status && saloon.open">Closed Now</span>
	    				<span class="balanced" ng-if="saloon.status && saloon.open">Open Now</span>
	    				<span class="assertive" ng-if="!saloon.open && !saloon.status">Closed Today</span>
	    			</span>
	    			<span class="overimage sex" ng-if="saloon.gender=='U'">
						 <i class="icon ion-ios-people" style="font-size: 20px"></i>
						Unisex
					</span> 
					<span class="overimage sex" ng-if="saloon.gender=='M'">
						<i class="icon ion-man" style="font-size: 20px"></i>
						Male
					</span> 
					<span class="overimage sex" ng-if="saloon.gender=='F'" style=";">
						<i class="icon ion-woman" style="font-size: 20px"></i>
						Female
					</span> 
	    			<span class="overimage dial-button">
			          <div class="circled" style="padding:6px 0 0 12px;" ng-click="dial(saloon.contactNumber)">
			            <i class="icon balanced ion-ios-telephone" style="font-size: 25px"></i>
			          </div>          
			        </span>
			        <ion-item class="overimage noborder effect customitem">
			        	<h3 style="color: white">
			        		{{saloon.name}}
			        	</h3>
			        	<p>
			        		<span style="width: 40%">{{saloon.area}}</span>
			        		<span style="padding-left: 10px" ng-if="saloon.distance">{{saloon.distance}} Kms</span>
			        		<span style="padding-left: 10px" ng-if="!saloon.distance">No distance</span>
			        		<span style="padding-left: 10px" ng-if="saloon.offerNumber>0">
		    					<i class="icon ion-ios-pricetags energized" style="font-size: 20px"></i>
		    					{{saloon.offerNumber}} Offers
				        	</span>
				        	<span style="padding-left: 10px" ng-if="saloon.offerNumber==0">
		    					No Offers
				        	</span>
			        	</p>
			        </ion-item>
	    		</div>
	    	</div>			
		</ion-item>	
    </ion-content>
</ion-view>