<style type="text/css"> 
  .tabs.tab-item{
    color: black;
  }
  .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    font-weight: 900;
  }
</style>
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Filter Your Search</h1>
    <div class="button button-clear" ng-click="closeFilterModal()">
      <i class="ion-android-close" style="font-size:30px"></i>
    </div>
  </ion-header-bar>
  <ion-content class="has-footer">
    <!-- <ion-list>
      <ion-item class="item item-divider noborder calm">
        Gender 
      </ion-item>
      <ion-item class="button-bar">
        <button ng-class="{'active':gender=='M'}" class="button button-small button-calm button-outline ion-ios7-download-outline" 
        ng-click="selectGender('M')">Male</button>
        <button ng-class="{'active':gender=='F'}" class="button button-small button-calm button-outline ion-ios7-upload-outline" 
        ng-click="selectGender('F')">Female</button>
        <button ng-class="{'active':gender=='U'}" class="button button-small button-calm button-outline ion-ios7-download-outline" 
        ng-click="selectGender('U')">Unisex</button>
      </ion-item>
    </ion-list> -->
    <ion-list>
      <ion-item class="item item-divider noborder calm">
        Sort By 
      </ion-item>    
      <div class="item tabs tabs-icon-top noborder" style="height: 65px;padding-top: 7px;">
        <a class="tab-item item1" ng-class="{'active':option==1}" ng-click="getSort('distance',1)" >
          <i class = "icon ion-arrow-graph-up-right"></i>
          Nearest
        </a>
        <a class="tab-item item1" ng-class="{'active':option==2}" ng-click="getSort('offerNumber',2)" >
          <i class = "icon ion-ios-pricetags"></i>
          Deals First
        </a>
        <a class="tab-item item1" ng-class="{'active':option==6}" ng-click="getSort('salonRating',6)" >
          <i class = "icon ion-ios-star-half"></i>
          Ratings High to Low
        </a>             
      </div>
      <!-- <div class="item tabs tabs-icon-top noborder" style="height: 65px;padding-top: 7px">
        <a class="tab-item" ng-class="{'active':option==4}" ng-click="getSort('priceHighttoLow',4)" >
          <i class = "icon ion-pricetags"></i>
          Price High to Low
        </a>
        <a class="tab-item" ng-class="{'active':option==5}" ng-click="getSort('priceLowtoHigh',5)" >
          <i class = "icon ion-pricetag"></i>
          Price Low to High
        </a>
         <a class="tab-item" ng-class="{'active':option==3}" ng-click="getSort('doorstepService',3)" >
          <i class = "icon ion-ios-home"></i>
          Doorstep First
        </a>
      </div> -->
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider noborder calm">
        Select Category 
      </ion-item>
      <a class="item item-icon-left" ng-repeat="category in categories" style="padding: 14px" ng-click="selectCategory($index)">
        <i class="icon ion-ios-circle-outline calm" ng-if="!category.checked" style="font-size: medium;"></i>
        <i class="icon ion-ios-circle-filled calm" ng-if="category.checked" style="font-size: medium;"></i>
        <span style="margin-left: 40px;">{{category.name}}</span>
      </a>
    </ion-list> 
    <ion-list>
      <ion-item class="item item-divider noborder calm">
        Features
      </ion-item>
      <ion-checkbox class="noborder checkpadding" ng-model="feature.checked" 
      ng-repeat="feature in features">
        {{feature.name}}
      </ion-checkbox>      
    </ion-list>   
    <ion-list>
      <ion-item class="item item-divider noborder calm">
        Select Type
      </ion-item>
      <a class="item item-icon-left" ng-repeat="type in types" style="padding: 14px"
       ng-click="selectType($index)">
        <i class="icon ion-ios-circle-outline calm" ng-if="!type.checked" style="font-size: medium;"></i>
        <i class="icon ion-ios-circle-filled calm" ng-if="type.checked" style="font-size: medium;"></i>
        <span style="margin-left: 40px;">{{type.name}}</span>
      </a>
    </ion-list>     
    <ion-list>
      <ion-item class="item item-divider noborder calm">
        Services
      </ion-item>
      <ion-checkbox class="noborder checkpadding" ng-model="service.checked" ng-repeat="service in services">
        {{service.name}}
      </ion-checkbox>
      <ion-checkbox class="noborder checkpadding" ng-model="doorStepServices.checked" ng-change="checkDoorStep()">
        Door-Step Service
      </ion-checkbox>      
    </ion-list><br><br>
  </ion-content>
  <div class="bar bar-footer bar-calm footer-button" ng-click="saveFilter()">
    <a class="button button-full button-clear">
        Apply
    </a>
  </div>
</ion-modal-view>