<ion-view title="Detecting location" hide-nav-bar="true">
  <ion-content >
    <div class="list">
      <div class="text-center" style="margin-top:10%"  ng-hide="fetchingLocation || locationFailed">
        <img src="img/logo.png" style="width:150px;filter: brightness(102%);">
      </div>
      <div class="text-center" style="margin-top:10%" ng-show="fetchingLocation">
        <img src="img/D_Logo.gif" style="width: 100%;filter: brightness(102%);">
        <p style="margin-right:10%;margin-left:10%">
          Detecting your location
        </p>
        <p style="margin-right:10%;margin-left:10%">
          Please wait
        </p>
      </div>
      <div class="text-center" style="margin-top:12%" ng-show="locationFailed">
        <img src="img/d-failed.jpg" style="width: 100%;filter: brightness(102%);">
        <p style="margin-right:10%;margin-left:10%">Please allow location access to get relevant results</p>
        <button class="button button-calm button-small" ng-click="myLocation()" style="width:100px">
          Allow
        </button>
      </div>
      <div class="list">
        <div style="padding-right:12%;padding-left:12%">
          <button class="button button-calm button-small button-full icon-left ion-android-locate" ng-click="myLocation()" ng-hide="fetchingLocation || locationFailed">
            Auto detect my location
          </button>
        </div><br/>
        <h3 class="text-center">OR</h3>
        <br/>
        <div class="item noborder" style="margin-right:12%;margin-left:12%; padding:8px;border-bottom: 1px solid grey;" ng-click="location()">
          <p>Please type your location</p>
        </div>
      </div>      
    </div>
  </ion-content>
</ion-view>