<ion-view title="Listings">
  <ion-nav-buttons side="right">
    <button class="button light button-icon ion-funnel" ng-click="openFilterModal()" style="margin-left:5px"></button>
  </ion-nav-buttons>  
  <ion-content >
    <div class="bar item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search any services or saloons.">
      </label>
    </div>
    <div class="list" style="margin-top:-25px;">
      <div class="card mycard">
        <a class="item item-thumbnail-left" style="min-height:125px" ui-sref="app.salonDetail">
          <img src="img/gents1.jpg">          
          <h3>Hari Boys Saloon</h3>
          <div style="font-size:15px">Kaka Dev
            <span class="item-note">3.8KM</span>
          </div>
          <div>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <span class="item-note">5 Reviews</span>
          </div>
          <div class="fixitem">Gents Only 
            <span class="item-note positive">Premium</span>
          </div>
          <div style="font-size:15px;margin-bottom:10px;">
            Hair cut starts  
            <span class="item-note">
              @Rs. 100/-
            </span>
          </div>
        </a>
        <ion-item class="noborder mypadding" style="margin-top:-15px;">
          <span class="balanced">Open Now </span>
          <span class="item-note">
            <i class="icon ion-ios-telephone myicon positive"></i> 
          </span>          
        </ion-item> 
        <ion-item class="noborder mypadding" style="margin-top:-20px">
          Door Step Services 
        </ion-item>
        <ion-list >
          <ion-item class="item item-divider mydevider positive" style="margin-left:3%;margin-right:3%">
            Deals
          </ion-item>
          <ion-item class="noborder myitem">
            5 Services worth 3000/- at 500/- only.
          </ion-item>
          <ion-item class="noborder myitem">
            3 Services worth 3000/- at 800/- only.
          </ion-item>
        </ion-list>
      </div>
      <div class="card mycard">
        <a class="item item-thumbnail-left" style="min-height:125px" ui-sref="app.salonDetail">
          <img src="img/ladies1.jpg">          
          <h3>Rupa Ladies Saloon</h3>
          <div style="font-size:15px">Model Town
            <span class="item-note">8.5KM</span>
          </div>
          <div>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <span class="item-note">6 Reviews</span>
          </div>
          <div class="fixitem">Ladies Only 
            <span class="item-note positive">Regular AC</span>
          </div>
          <div class="fixitem">
            Facial starts  
            <span class="item-note">
              @Rs. 300/-
            </span>
          </div>
        </a>
        <ion-item class="noborder mypadding" style="margin-top:-15px;">
          <span class="assertive">Closed Now </span>
          <span class="item-note">
            <i class="icon ion-ios-telephone myicon"></i> 
          </span>          
        </ion-item>                     
        <ion-list >
          <ion-item class="item item-divider item-positive mydevider" style="margin-left:3%;margin-right:3%">
            Deals
          </ion-item>
          <ion-item class="noborder myitem">
            2 Services worth 3000/- at 700/- only.
          </ion-item>
        </ion-list>
      </div>
      <div class="card mycard">
        <a class="item item-thumbnail-left">
          <img src="img/unisex.jpg" style="min-height:125px">          
          <h3>Global Unisex Saloon</h3>
          <div style="font-size:15px">Kalpi Road
            <span class="item-note">2.5KM</span>
          </div>
          <div>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <span class="item-note">5 Reviews</span>
          </div>
          <div class="fixitem">Unisex
            <span class="item-note" style="color:#e6b500">Branded</span>
          </div>
          <div class="fixitem">
            Message starts  
            <span class="item-note">
              @Rs. 100/-
            </span>
          </div>
        </a>
        <ion-item class="noborder mypadding" style="margin-top:-15px;">
          <span style="color:#28a54c">Open Now </span>
          <span class="item-note positive">
            <i class="icon ion-ios-telephone myicon"></i> 
          </span>          
        </ion-item>
        <ion-item class="noborder mypadding" style="margin-top:-20px">
          Door Step services.
        </ion-item>                                  
      </div>
    </div>
  </ion-content>
</ion-view>