<ion-view view-title="{{city}}"> 
	<ion-nav-buttons side="right">
		<button class="button light button-icon ion-location" ng-click="location()"></button>
		<button class="button light button-icon ion-ios-search-strong" ng-click="openSearchmodel()"></button>
		<button class="button light button-icon" ng-click="openFilterModal()" style="margin-bottom: -8px;">
			<i class="icon">
				<img src="img/filter2.png" style="width:22px;">
			</i>
		</button>
  	</ion-nav-buttons> 
    <ion-content delegate-handle="handler" on-scroll="onScoll()">
    	<ion-item ng-if="loader" style="border-style: none;">
	      <h2 style="margin-top:40%;"class="positive" align="center">
	        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
	      </h2>
	    </ion-item>
		<ion-item class="content nopadding noborder" ng-if="!loader">
	    	<div class="card" ng-show="saloons.length==0" style="border-style: none;box-shadow: none;">
		      	<div class="item text-center item-text-wrap"> 
		        	<p style="color:grey">Coming soon in your location</p>
		        	<p style="color:grey">for now, try Kanpur</p>
		        	<img src="img/logo2.jpg" style="width: 80%;height: 130px;margin-top: 50px;">
		      	</div>
		    </div>    
		    <ion-item class="item item-divider noborder" style="margin-top: 1px" ng-if="saloons.length>0 && gender">
		        <p ng-if="!doorStepServices.checked">
	        	 	{{totallength}} results in 
	        		<span ng-if="gender=='M'"><b>Males</b> only</span>
	        		<span ng-if="gender=='F'"><b>Females</b> only</span>
	        		<span ng-if="gender=='U'"><b>Unisex</b></span>
		        </p>
		        <p ng-if="doorStepServices.checked">Call them and ask for Doorstep Service</p>
		    </ion-item>
		    <ion-item class="item item-divider noborder" style="margin-top: 1px" ng-if="saloons.length>0 && !gender">
		    	<p>{{totallength}} results in <b>{{type.name}}</b>.</p>
		    </ion-item>	
			<div class="list"  style="background-color: lightgrey">
	    		<div class="card card1" ng-repeat="saloon in saloons">
	    			<img ng-src="{{saloon.imageUrl}}" class="myimage" ng-click=getDetails(saloon)>	
	    			<div class="overimage right-effect" style=""></div>
	    			<span class="overimage premium">
	    				<span class="energized">{{saloon.categoryName}}</span>
	    			</span>
	    			<span class="overimage doorstep" ng-if="saloon.doorStepServices==1">
	    				<span class="energized">DOORSTEP</span>
	    			</span>
	    			<span class="overimage wrap review">    				
	    			  <span class="right">	    			  	
	    			  	<i class="icon ion-ios-star-half riview-icon"></i>
	    				<!-- <i class="energized icon ion-ios-star riview-icon" ng-repeat="star in saloon.fullStars"></i>
			            <i class="energized icon ion-ios-star-half riview-icon" ng-if="saloon.halfStar"></i>
			        	<i class="energized icon ion-ios-star-outline riview-icon" 
			        		ng-repeat="star in saloon.blankStars"></i> -->
			        	<span ng-if="saloon.salonRating" style="font-size: 13px;">
			        		{{saloon.salonRating}}
			        	</span>
	    			  	<span ng-if="!saloon.salonRating" style="font-size: 13px;">0.0</span>
	    			  </span>
	    			  <p class="right" style="margin-top: 3px;color: #ffc900;">{{saloon.reviewNumber}} Reviews</p>
	    			</span>
	    			<span class="overimage closed">
	    				<span class="assertive" ng-if="!saloon.status && saloon.open">Closed Now</span>
	    				<span class="balanced" ng-if="saloon.status && saloon.open">Open Now</span>
	    				<span class="assertive" ng-if="!saloon.open && !saloon.status">Closed Today</span>
	    			</span>
	    			<span class="overimage sex" ng-if="saloon.gender=='U'">
						 <i class="icon ion-ios-people" style="font-size: 20px"></i>
						Unisex
					</span> 
					<span class="overimage sex" ng-if="saloon.gender=='M'">
						<i class="icon ion-man" style="font-size: 20px"></i>
						Male
					</span> 
					<span class="overimage sex" ng-if="saloon.gender=='F'" style=";">
						<i class="icon ion-woman" style="font-size: 20px"></i>
						Female
					</span> 
	    			<span class="overimage dial-button">
			          <div class="circled" style="padding:7px 0 0 11px;" ng-click="dial(saloon.contactNumber)">
			            <i class="icon balanced ion-ios-telephone" style="font-size: 25px"></i>
			          </div>          
			        </span>
			        <ion-item class="overimage noborder effect customitem">
			        	<h3 style="color: floralwhite;font-size: 17px;">
			        		{{saloon.name}}
			        	</h3>
			        	<p>
			        		<span style="width: 40%">{{saloon.area}}</span>
			        		<span style="padding-left: 5px" ng-if="saloon.distance">{{saloon.distance}} Kms</span>
			        		<span style="padding-left: 5px" ng-if="!saloon.distance">No distance</span>
			        		<span style="padding-left: 5px" ng-if="saloon.offerNumber>0">
		    					<i class="icon ion-ios-pricetags energized" style="font-size: 20px"></i>
		    					{{saloon.offerNumber}} Offers
				        	</span>
				        	<span style="padding-left: 10px" ng-if="saloon.offerNumber==0">
		    					No Offers
				        	</span>
			        	</p>
			        </ion-item>
	    		</div>	
	    		    		
	    	</div>
	    	<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="!noMoreItems">
        	</ion-infinite-scroll>
	    	<!-- <ion-item class="item item-divider noborder" style="margin-top: 1px" ng-if="completed">
		        <p ng-if="!doorStepServices.checked">
		        	{{saloons.length}} results in 
		        		<span ng-if="gender=='M'">males only</span>
		        		<span ng-if="gender=='F'">females only</span>
		        		<span ng-if="gender=='U'">unisex</span>
		        </p>
		        <p ng-if="doorStepServices.checked">Call them and ask for Doorstep Service</p>
		    </ion-item> -->
		</ion-item>	
    </ion-content>
    <div class="bottom" ng-show="showTopButton" >
	    <button class="button button-float" ng-click="scrollTop()">
	      <i class="icon ion-arrow-up-c"></i>
	    </button>
	</div>
</ion-view>