<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" id="searchLocation" ng-model="search.location" placeholder="Search Your Location" ng-change="locationTextChanged()">
    </label>
    <button class="button button-clear" ng-click="locationModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <!-- <ion-item class="item item-icon-left noborder" ng-click="myLocation()" ng-if="!download">
      <i class="icon ion-android-locate calm"></i>
      <span style=" padding-left: 15px">Curent location</span>
    </ion-item> -->
    <ion-item ng-repeat="prediction in predictions" ng-click="selectLocation(prediction)">
      {{prediction.description}}
    </ion-item>
  </ion-content>
</ion-modal-view>