<!-- <ion-modal-view> -->
<ion-view view-title="Login">
  <ion-content class="padding">
    <ion-item ng-if="loader" style="border-style: none;">
      <h2 style="margin-top:40%;"class="positive" align="center">
        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
      </h2>
    </ion-item>
    <div class="button-bar" ng-if="!loader">
      <button ng-class="{'active':option==1}" class="button button-calm button-outline ion-ios7-download-outline" ng-click="loginOption(1)">LOG IN</button>
      <button ng-class="{'active':option==2}" class="button button-calm button-outline ion-ios7-upload-outline" ng-click="loginOption(2)">SIGN UP</button>
    </div><br>
    <div class="list" style="margin-top:5px" ng-if="login && !loader">
      <label class="item item-input">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="Enter Email" ng-model="loginData.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Enter Password" ng-model="loginData.password">
      </label><br>      
      <button class="button button-block button-calm icon-left ion-ios-email-outline" 
        style="font-size:80%;margin:auto;" ng-click="doLogin()">
       LOGIN
      </button>
      <button class="button button-clear button-assertive button-block" ng-click="forgotPassword()">
        <span style="text-decoration:underline;"> Forgot Password?</span>
      </button><br>
      <button class="button button-block button-positive icon-left ion-social-facebook-outline" style="font-size:80%;margin:auto;" ng-click="fbSignup()" ng-if="!browserMode">
       LOGIN USING FACEBOOK
      </button><br>
      <!-- <button class="button button-block button-assertive icon-left ion-social-googleplus-outline" style="font-size:80%;margin:auto;" ng-click="googleSignup()"
      ng-if="!browserMode">
       LOGIN USING GOOGLE+
      </button> -->
    </div>  
    <div class="view-profile" ng-show="signUp && !loader" style="margin-top:5px">
      <div class="content-image" align="center">
        <img src="{{signupData.imageUrl}}" class="profile-image">        
        <div class="bg-img" ng-click="openCamera()"></div>    
      </div>  
      <div class="list">
        <label class="item item-input">
          <span class="input-label calm">Name *</span>
          <input type="text" placeholder="First Name" ng-model="signupData.name">
        </label>
        <label class="item item-input item-select">
          <div class="input-label calm">
             Gender *
          </div>
          <select ng-model="signupData.gender">
            <option value="" disabled selected style="display: none;">Select</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label calm">Mobile Number</span>
          <input placeholder="Mobile Number" ng-model="signupData.mobile"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); "type = "number" maxlength = "10"> 
        </label>
        <label class="item item-input">
          <span class="input-label calm">Email *</span>
          <input type="text" placeholder="E-mail" ng-model="signupData.email">
        </label>
        <label class="item item-input">
          <span class="input-label calm">Password *</span>
          <input type="text" placeholder="Password" ng-model="signupData.password">
        </label>
        <button class="button button-block button-calm" ng-click="signUp1()">Sign Up</button>
      </div>
    </div>
  </ion-content>
</ion-view>