<ion-view title="salonsnearby">
  <ion-nav-buttons side="right">
    <button class="button button-positive button-calm" ng-click="location()" style="border-radius:5px;max-width: 155px;border-color:white;overflow:hidden;">{{city}}
    </button>
  </ion-nav-buttons>
  <ion-content style="background-color: #F7F7F7;" ng-class="{'has-footer':download}" on-scroll="onScoll()">
    <div class="noborder nopadding" >
      <div id="typeDiv" class="calm-bg rel">
        <div ng-click="openSearchmodel()" style="padding:15px 5px 10px;">
          <div class="item item-icon-left" style="margin:0 10px;border-radius: 10px;">
            <p>
              <i class="icon ion-search placeholder-icon" style="font-size: 25px"></i>
              <span class="absolute" style="color: grey;top:6px">Search salon, spa or service</span>
            </p>
          </div>
        </div>
        <!-- left and right arrow -->
        <!-- <i class="icon ion-chevron-left energized left-right-button"  style="left:2px" ng-if="showLeft"></i>
        <i class="icon ion-chevron-right energized left-right-button" style="right:2px" ng-if="showRight"></i> -->
        <!-- left and right arrow -->
        <ion-scroll delegate-handle="handler1" direction="x" style="height: 70px" on-scroll="onScollLeftRight()">
          <div style="width:{{types.length*77}}px;">            
            <div class="scroller-item rel" ng-repeat="type in types" ng-click="getSalons(type)" ng-class="{'active':type.active}">
              <img class="scroll-image" src="{{type.image}}" style="margin-bottom: 7%;">
              <span class="caption">{{type.name}}</span>
              <div class="vr" ng-if="type.name=='Male'">&nbsp;</div>
            </div>               
          </div>
        </ion-scroll>
      </div>
      <ion-item ng-if="loader" style="border-style: none;background: lightgrey;min-height:170px">
        <h2 style="margin-top:20%;"class="positive" align="center">
          <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
        </h2>
      </ion-item>
      <div id="add" class="card card1" ng-if="!loader">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true" slide-interval="5000" style="margin-bottom:-6px">
          <ion-slide ng-repeat="image in images" ng-click="getDetails(image)">
            <div class="filter-image">
              <img ng-src="{{image.imageUrl}}" style="height: 35vh;width:100%">
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
      <div class="list nopadding noborder offers" style="padding-top: 1px;"> 
        <div class="item item-divider mydevider item-button-right" style="margin: 0 5px 0 4px;" 
          ng-hide="fetchingLocation || loader1 || loader">
            {{deals.length}} <b ng-if="type.type">{{type.name}}</b> offers nearby
          <button class="button light button-icon" ng-click="openDealPopover();" style="margin-top:-5px;background:#F7F7F7;margin-right:-17px;">
            <i class="icon">
              <img src="img/filter.png" style="width:20px;">
            </i>
          </button>
        </div>       
        <div class="text-center" ng-if="loader1 && !loader" style="min-height:100px;padding-top: 25px;">
          <p>Fetching offers nearby...</p>
          <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
        </div>

        <div class="list nopadding noborder offers text-center" style="padding-top:1px;" ng-show="fetchingLocation">
          <br/><br/>
          <p class="text-center">Fetching location...</p>
          <ion-spinner icon="dots" class="spinner-calm"></ion-spinner>            
        </div>
        <div class="list nopadding noborder offers text-center" style="padding-top: 1px;" ng-show="noLocation">
          <br/><br/>
          <p >Failed to get location...</p>
          <button class="button button-clear button-full button-calm" ng-click="myLocation()" style="margin-top: -13px;">
            Retry
          </button>
        </div>

        <div class="card transparent" ng-show="deals.length==0 && !fetchingLocation && !loader1" style="border-style: none;box-shadow: none;">
          <div class="item text-center item-text-wrap transparent"> 
            <p style="color:grey">No offers in your location.</p>
            <p style="color:grey">Try different location.</p>
            <img src="img/logo3.png" style="height: 130px;margin-top: 20px;">
          </div>
        </div>

        <div id="{{'div'+$index}}" class="card card1" ng-repeat="deal in deals" ng-hide="fetchingLocation || loader1 || loader">
          <ion-item class="item noborder" style="background-color: transparent;" ng-click=getDetails(deal,'deals')>  
          <h2 >{{deal.name}}
              <span class="item-note rating">{{deal.salonRating}}/5</span> 
            </h2>
            <p>{{deal.area}}
              <span style="padding-left: 10px">{{deal.distance}} Kms</span>
              <span class="item-note">{{deal.reviewNumber}} Reviews</span> 
            </p>
            <p class="deal-title">{{deal.title}}</p>
          </ion-item>
          <div class="row">
            <div class="col col-30">
              <p class="energized">Rs {{deal.discountedAmount}}/- </p>
              <p class="real-price"> Rs {{deal.actualAmount}}/- </p>            
            </div>
            <div class="col col-70 nopadding rel">
              <span class="absolute"> 
                <button class="button button-balanced button-small" 
                ng-click="dial(deal.contactNumber)">
                  CALL
                </button>
              </span>
              <p class="absolute category">{{deal.categoryName}}</p>
              <p class="absolute gender">{{deal.typeName}}</p>
            </div>
          </div>
        </div>       
      </div>  
    </div>
    <script id="filter-popover.html" type="text/ng-template">
      <ion-popover-view style="opacity:1;height: {{(33 * dealTypes.length) + 'px'}};">
        <ion-content>
          <ion-list>      
            <ion-item class="item noborder nopadding customitem item-icon-right" ng-repeat="type in dealTypes" ng-click="getFilteredDeals(type.id)">
              <p>{{type.name}}
                <span ng-if="!type.id && type.type" >salons</span>
              </p>
              <i class="icon ion-ios-circle-outline" ng-if="!type.selected" style="font-size: 14px;"></i>
              <i class="icon ion-ios-circle-filled" ng-if="type.selected" style="font-size: 14px;"></i>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-popover-view>
    </script>
  </ion-content>
  <div ng-class="{'foating':download,'bottom':!download}" ng-show="showTopButton">
    <button class="button button-float" ng-click="scrollTop()">
      <i class="icon ion-arrow-up-c"></i>
    </button>
  </div>
  <ion-footer-bar class="bar-calm nopadding" style="display: flex" ng-if="download">
    <div class="item noborder item-icon-left item-calm item-text-wrap" style="width: 100%;">
      <i class="icon ion-ios-close-outline" ng-click="hideDownload()"></i>
      <span class="item-note" style="margin-top:-11px;margin-right:-13px;">          
        <img src="img/apple.jpg" style="height: 35px;max-width:90px"
        ng-click="downloadApp('https://goo.gl/L36bKV')">
        <img src="img/google.jpg" style="height: 35px;max-width:90px" ng-click="downloadApp('http://goo.gl/awwsPX')">
      </span>
      <p style="font-size:8px;color:white;margin-top: -4px;">Download App Now</p>            
    </div>  
  </ion-footer-bar>
</ion-view>