<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm" align-title="left">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar>
      <h1 class="title" ng-if="!loginData.log">Welcome User</h1>
      <h1 class="title" ng-if="loginData.log" style="text-transform: capitalize;">Welcome {{userName}}</h1>
    </ion-header-bar> -->
    <ion-content>
      <ion-list>
        <ion-item class="item text-center item-calm rel" nav-clear menu-close>
          <img src="{{loginData.imageUrl}}" class="profile-image" ng-if="loginData.log">
          <img src="img/logo.png" class="profile-image" ng-if="!loginData.log">
          <h1 class="title" ng-if="!loginData.log" style="font-size: 17px;color: cornsilk;">
            Welcome User</h1>
          <h1 class="title" ng-if="loginData.log" style="text-transform: capitalize;color: cornsilk;font-size: 17px">Welcome {{userName}}</h1>
          <span style="position: absolute;top: -5px;right: 0" ng-if="loginData.log">
            <button class="button light button-icon icon ion-ios-compose-outline" nav-clear menu-close 
            ng-click="myProfile()"></button>
          </span>
        </ion-item>
        <ion-item class="item item-icon-left noborder colored1" nav-clear menu-close 
         ng-click="goToMain()">
          <i class="icon ion-ios-home-outline"></i>
          Home
        </ion-item> 
        <ion-item class="item item-icon-left noborder" menu-close ng-click="login()" ng-show="!loginData.log">
          <i class="icon ion-log-in"></i>
          Login 
        </ion-item>        
        <!-- <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="app.test">
          <i class="icon ion-android-home"></i>
          Test
        </ion-item> -->        
        <ion-item class="item item-icon-left noborder colored1" nav-clear menu-close ng-show="loginData.log" ng-click="myProfile()"   >
          <i class="icon ion-ios-person-outline"></i>
          Profile
        </ion-item>
        <ion-item class="item item-icon-left noborder colored1" nav-clear menu-close ng-click="showFavorites()">
          <i class="icon ion-android-favorite-outline"></i>
          My favourites
        </ion-item>
        <ion-item class="item item-icon-left noborder colored1" nav-clear menu-close ng-click="showOffers()">
          <i class="icon ion-ios-pricetags-outline"></i>
          Offers Nearby ({{offerNumber}})
        </ion-item>       
        <ion-item class="item item-icon-left noborder colored1" nav-clear menu-close ng-click="goToContact()">
          <i class="icon ion-ios-telephone-outline"></i>
          Contact
        </ion-item>
        <ion-item class="item item-icon-left noborder colored1" nav-clear menu-close ng-click="shareSocialMedia()" ng-if="!browser">
          <i class="icon ion-android-share-alt"></i>
          Share App
        </ion-item>
        <ion-item class="item item-icon-left noborder colored1" nav-clear menu-close ng-click="goToPlayStore()" ng-if="!browser">
          <i class="icon ion-ios-star-half"></i>
          Rate Us
        </ion-item>
        <ion-item class="item item-icon-left noborder colored1" nav-clear menu-close ng-click="goToAbout()">
          <i class="icon ion-document"></i>
          About
        </ion-item>
        <!-- <ion-item class="item item-icon-left" nav-clear menu-close>
          <i class="icon ion-clipboard"></i>
         Terms & conditions
        </ion-item>
        <ion-item class="item item-icon-left" nav-clear menu-close ng-show="loginData.log">
          <i class="icon ion-briefcase"></i>
          Add Your Buisness
        </ion-item>        
        <ion-item class="item item-icon-left" nav-clear menu-close>
          <i class="icon ion-ios-unlocked"></i>
          Privacy
        </ion-item>https://play.google.com/store/apps/details?id=in.proapptive.saloonnearby#details-reviews
        <ion-item class="item item-icon-left" nav-clear menu-close ng-show="loginData.log">
          <i class="icon ion-person-stalker"></i>
          For Saloon Owners
        </ion-item>        
        <ion-item class="item item-icon-left" nav-clear menu-close ng-show="loginData.log">
          <i class="icon ion-settings"></i>
          Settings
        </ion-item> -->
        <ion-item class="item item-icon-left noborder" nav-clear menu-close ng-show="loginData.log" ng-click="logOut()"   >
          <i class="icon ion-log-out" ></i>
          Logout
        </ion-item>
        <!-- <ion-item class="item item-icon-left" nav-clear menu-close>
          <i class="icon ion-ios-star-half"></i>
          Ratings
        </ion-item> -->        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
