<ion-view view-title="Offers"> 
    <ion-content class="offers" overflow-scroll="true">
    	<ion-item ng-if="loader" style="border-style: none;background: #F7F7F7;">
	      <h2 style="margin-top:40%;"class="positive" align="center">
	        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
	      </h2>
	    </ion-item>
	    <div class="list nopadding noborder">
	    	<div class="item transparent noborder nopadding text-center" ng-show="deals.length==0 && !loader" style="margin-top:30%">
	    		<h3>Oops...!</h3>
	            <p style="color:grey">No offers available for you.</p>
	            <img src="img/logo3.png" style="height: 130px;margin-top: 20px;">
	        </div>
	        <div class="card card1" ng-repeat="saloon in deals">
	          <ion-item class="item noborder" ng-click=getDetails(saloon,'deals')>          
	            <h2 >{{saloon.name}}
	              <span class="item-note rating">{{saloon.salonRating}}/5</span> 
	              <!-- <span class="item-note" style="padding-right:5px">Regular AC</span>             -->
	            </h2>
	            <p>{{saloon.area}}
	              <span style="padding-left: 10px">{{saloon.distance}} Kms</span>
	              <span class="item-note">{{saloon.reviewNumber}} Reviews</span> 
	            </p>
	            <p class="deal-title">{{saloon.title}}</p>
	          </ion-item>
	          <div class="row">
	            <div class="col col-30">
	              <p class="energized">Rs {{saloon.discountedAmount}}/- </p>
	              <p class="real-price"> Rs {{saloon.actualAmount}}/- </p>            
	            </div>
	            <div class="col col-70 nopadding rel">
	              <span class="absolute"> 
	                <button class="button button-balanced button-small" 
	                ng-click="dial(saloon.contactNumber)">
	                  CALL
	                </button>
	              </span>
	              <p class="absolute category">{{saloon.categoryName}}</p>      
	              <p class="absolute gender" ng-if="saloon.gender=='F'">For Women only</p> 
	              <p class="absolute gender" ng-if="saloon.gender=='M'">For Men only</p> 
	              <p class="absolute gender" ng-if="saloon.gender=='U'">For Men & Women</p>            
	            </div>
	          </div>
	        </div>
	    </div> 
	</ion-content>
</ion-view>