<ion-view title="Any other Query">
  <ion-content>
  	<ion-item class="item item-divider mydevider calm noborder">
        Any other Query.
    </ion-item>
  	<ion-item class="item noborder item-text-wrap">
		<p>To speak to us for any other thing,</p>
  		<p>E-mail your query at <a href="support@salonsnearby.com?"><b>support@salonsnearby.com</b></a> </p><br/>OR<br/><br/>
  		<p>SMS <b>“SPEAK”</b> to mobile no:<b>7052-727-727</b> and we will contact you.</p>
  	</ion-item>
  </ion-content>
</ion-view>