<ion-view title="PRIVACY POLICY">
  <ion-content>
  	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
	        PRIVACY POLICY
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>We at Salonsnearby are committed in respecting the privacy of every person who visits our website and web application at www.salonsnearby.com . In the course of using the Site and web application or availing any products and/or services through the Site and web application, Salonsnearby may become privy to the Personal Information' (as defined hereunder) of its registered users, including information that is of a confidential nature.</p>
			<p>The purpose of this privacy policy (the "Policy"), as amended from time to time, is to give you an understanding on how we intend to collect and use the Personal Information you provide to us. By accessing the Site and web application and providing us such Personal Information, you hereby consent to our access, collection, storage, usage, exchange, sharing of such Personal Information for the purposes disclosed in the Policy.</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
	        PERSONAL INFORMATION AND ITS USAGE
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>When you access the Site and web application or sign up/register for an account on the Site and web application, you may be required to provide us with your personal information which may be used to identify you. This information includes but is not limited to your first and last name, title/designation, company, home or any other physical address, an email or other contact information, whether at work or at home and credit/debit card information and other relevant data as may be required (collectively referred to as "Personal Information"). Questions or comments submitted by visitors and users may also include Personal Information. Such Personal Information will assist Salonsnearby in providing an effective service to you through the Site and web application.</p>
			<p>If we use your Personal Information in a manner different than the purpose for which it was collected, then we will ask for your consent prior to such use. You can decline to submit your Personal Information on the Site and web application, in which case you may not be able to access some of our services or the Site and web application.</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 10px;">
	        SALONSNEARBY MAY USE YOUR PERSONAL INFORMATION TO:
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>Send you, from time to time, information about our Salonsnearby or its affiliates, and its products and services; provide information or interactive services through the Site and web application; permit you to download product and other related information and materials; process orders or content submitted by you;seek your feedback or to contact you in relation to services offered on and through the Site and web application;administer or otherwise carry out our obligations in relation to any agreement you may have with us;anticipate and resolve problems with any goods or services supplied to you;to upgrade, test and maintain our systems;collect your credit card information solely to check your financial qualification and to collect payment with respect to our services so availed; and allow you to subscribe to our newsletters. Salonsnearby shall be entitled to share your Personal Information with its subsidiaries, affiliates or other trusted businesses or persons for the purpose of processing the same on Salonsnearby’s behalf. Salonsnearby requires that these parties agree to process such information based on Salonsnearby’s instructions and in compliance with this Policy and any other appropriate confidentiality and security measures. By consent to the Terms you are deemed to have consented to this provision in the Policy.</p>
			<p>Salonsnearby undertakes not to disclose the Personal Information (except as what is mentioned in the above paragraph) provided by the customer/user to any third party, unless such action is necessary to:protect and defend Salonsnearby or its affiliates' rights, interests or property;enforce the terms and conditions of the products or services;protect the interests of Salonsnearby, its affiliates, its employees, or its members, constituents or of other persons; and detect, prevent, or otherwise address fraud, security or technical issues.</p>
			<p>Salonsnearby may also, at its discretion, remove all the personally identifiable information from the Personal Information submitted by you and use the rest for historical, statistical or scientific purposes. You hereby acknowledge that Salonsnearby will not be required to procure any further or additional confirmation or approval from you for using the Personal Information for the aforementioned purposes.</p>
			<p>To the extent required or permitted by law, Salonsnearby may also access, collect, use, store, exchange, share and disclose Personal Information in connection with security related or law enforcement investigations or in the course of cooperating with authorities or complying with legal requirements or with any legal process.</p>
			<p>You authorize Salonsnearby to access, collect, use, store, exchange, share, part with all information (Personal and non-Personal), across borders and from your country and jurisdiction to other countries and jurisdictions across the world, with its affiliates / agents / third party service provider / banks / financial institutions / credit bureaus / agencies / participation in any telecommunication or electronic clearing network as may be required by law, customary practice, credit reporting, statistical analysis and credit scoring, verification or risk management and shall not hold Salonsnearby liable for accessing, collecting, using, storing, exchanging, sharing or disclosing this information.</p>
			<p>You hereby consent that the collection and use of any Personal Information or any other information as disclosed under the Policy shall not cause any loss or wrongful gain to you. Further, you also hereby acknowledge that this Policy is an integral part of the terms and conditions detailed under the Site and web application ("Terms") and shall be considered part and parcel of the said Terms. By consenting to the Terms, you confirm that you have consented to this Policy also.</p>
			<h4>Non-Personal Information and its usage:</h4>
			<p>At the Site and web application, information provided by you and sent by your web browser, may be automatically collected and stored manually or automatically by our servers. This information typically includes your domain name, user name, Internet protocol (IP) address, operating system and platform, the average time spent on the Site and web application, browser type, browser language, the date and time of your request / transaction history, pages viewed, information searched for or requested for, access time and other relevant statistics. The amount of information sent depends on the settings you have on your web browser; please refer to your browser if you want to learn what information it stores/sends.</p>
			<p>We also retain/store user communications – communications exchanged with our visitors/users - in order to process your inquiries, respond to your requests and improve our services.</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 9px;">
	        INFORMATION PLACED ON YOUR COMPUTER OR MOBILE PHONE
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>We may store some information such as cookies on your computer or mobile phone when you visit the Site and web application. Cookies are pieces of information that a website and web application transfers to the hard drive of a visitor's computer or mobile phone for record-keeping purposes. This information facilitates your use of the Site and web application and ensures that you do not need to re-enter your details every time you visit the Site and web application. You can erase or choose to block this information from your computer or mobile phone browser if you want to; please refer to your browser settings to do so. Erasing or blocking such information may limit the range of features available to the visitor on the Site and web application. We also use such information to provide visitors with a personalized experience on the Site and web application. We may use such information to allow visitors to use the Site and web application without logging on upon returning, to auto-populate email forms, to make improvements and to better tailor the Site and web application to our visitors' needs. We also use this information to verify that visitors meet the criteria required to process their requests.</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
	        SECURITY
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>We have implemented and will continue to implement reasonable security practices, procedures, policies and technology with the objective of protecting your privacy from unauthorized access and improper usage, and periodically review the same.</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 11px;">
	        LINKS TO THIRD PARTY WEBSITE AND WEB APPLICATIONS
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>For your convenience, the Site and web application may contain certain links and hyperlinks to other Salonsnearby pages as well as to website and web application's of third parties not connected or affiliated to Salonsnearby. In addition, you may have linked to the Site and web application from another website and web application. The third party service providers are also an important means by which Salonsnearby maintains the Site and web application. Salonsnearby cannot be responsible for the privacy policies and practices of such other website and web applications, even if you access them using links from the Site and web application. Hence Salonsnearby encourages you to review the privacy statements of the website and web applications you choose to visit from the site and web application so that you can understand how those website and web applications access, collect, use, store, exchange and share your Personal Information. We can make no promise or guarantee regarding data collection on the hyper-linked pages and on the website and web applications that are not owned by Salonsnearby. We recommend that you check the policies and terms and conditions of each website and web application you visit, or link from, and contact the owners or operators of such website and web applications if you have any concerns or questions.</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
	        ACCESS/ACCURACY
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>To the extent that you provide us with your Personal Information, Salonsnearby wishes to maintain your accurate Personal Information at all times. Where we collect Personal Information from you, our goal is to provide you with means of contacting Salonsnearby should you need to update or correct that information. If for any reason, those means are unavailable or inaccessible, you may send updates and corrections about your Personal Information to info@salonsnearby.com and we will make reasonable efforts to incorporate the changes in your Personal Information that we hold as soon as practicable</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
	        INFORMATION POSTED ON PUBLIC FORUMS
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>Salonsnearby may provide a separate section for blogs, reviews, bulletin boards or chat rooms on the Site and web application. Any personally identifiable information you choose to submit on such public forums may be read, collected, processed or used by others who visit these forums. Further, such information may be used to send you unsolicited messages. Salonsnearby is not responsible for the personally identifiable information you choose to submit in these forums.</p>
	  	</ion-item>
	</ion-list>	
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
	        CUSTOMER TESTIMONIALS
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>Salonsnearby may post customer testimonials on the Site and web application that contain information such as customer name, title, organization and other contact details. Salonsnearby shall obtain the consent of each customer prior to posting any such information on the Site and web application.</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
	        CHANGES TO THIS PRIVACY POLICY
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>The Policy is subject to change by Salonsnearby without any notice or intimation to you.</p>
	  	</ion-item>
	</ion-list>
	<ion-list>
	  	<ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
	        CONTACT INFORMATION AND SUGGESTIONS
	    </ion-item>
	  	<ion-item class="item noborder item-text-wrap">
			<p>Salonsnearby welcomes your comments, questions and suggestions regarding the Policy. If you believe that Salonsnearby has not adhered to the Policy, please contact us by email on info@salonsnearby.com or via postal mail at the address provided below, and we will use commercially reasonable efforts to promptly determine and remedy the problem.</p><br><br><br>
			<p style="font-size: 10px;color: #EC1366">Salonsnearby, First Floor, 123/750 (B) Fazal Ganj, Kanpur, Uttar Pradesh, India – 208012</p>
			<p style="font-size: 10px;color: #EC1366">Last updated: June 16, 2016</p>
	  	</ion-item>
	</ion-list>
  </ion-content>
</ion-view>