<ion-view view-title="Profile">
	<ion-content class="padding" overflow-scroll="true">
		<ion-item ng-if="loader" style="border-style: none;">
	      <h2 style="margin-top:40%;"class="positive" align="center">
	        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
	      </h2>
	    </ion-item>
		<div class="view-profile" ng-show="!loader" style="margin-top:5px">
	      <div class="content-image" align="center">
	        <img src="{{signupData.imageUrl}}" class="profile-image">        
	        <div class="bg-img" ng-click="openCamera()"></div>    
	      </div>  
	      <div class="list">
	        <label class="item item-input">
	          <span class="input-label calm">Name</span>
	          <input type="text" placeholder="First Name" ng-model="signupData.name">
	        </label>
	        <label class="item item-input item-select">
	          <div class="input-label calm">
	             Gender
	          </div>
	          <select ng-model="signupData.gender">
	            <option value="" disabled selected style="display: none;">Select</option>
	            <option value="M">Male</option>
	            <option value="F">Female</option>
	          </select>
	        </label>
	        <label class="item item-input">
	          <span class="input-label calm">Mobile Number</span>
	          <input type="text" placeholder="Mobile Number" ng-model="signupData.mobile">
	        </label>
	        <label class="item item-input">
	          <span class="input-label calm">Email</span>
	          <input type="text" placeholder="E-mail" ng-model="signupData.email">
	        </label>
	        <label class="item item-input">
	          <span class="input-label calm">Password</span>
	          <input type="text" placeholder="Password" ng-model="signupData.password">
	        </label>
	        <button class="button button-block button-calm" ng-click="update()">SAVE</button>
	      </div>
	    </div>
	</ion-content>
</ion-view>