<style type="text/css">
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    position: relative;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
.top {
    position: absolute;
    font-size: 18px;
    top: 0;
    text-align: center;
    color:white;
    width: 100%;
    height: 30px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top,black, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom,black, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom,black, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,black, transparent); /* Standard syntax */
}
/*.slider {
    width: 100%;
    height: 100%;
}*/
 .image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
</style>
<ion-modal-view style="background-color: transparent;height: 100vh">
  <ion-content class="modal image-modal transparent" on-swipe-down="closeModal()" overflow-scroll="true">
    <!-- <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true" 
    slide-interval="5000">    
      <ion-slide ng-repeat="rateImage in rateimages">   
        <ion-scroll direction="xy" zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
          delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">
     	    <img class="image" ng-src="{{rateImage.src}}" style="height: 100vh;width: 100vw">
          <div class="top">Swipe down to close this image </div>
        </ion-scroll>
      </ion-slide>
    </ion-slide-box> -->
    <ion-gallery ion-gallery-items="rateimages"></ion-gallery>
    <div class="top">Swipe down to close this image </div>
  </ion-content>
</ion-modal-view>