
<ion-view title="{{salonName}}">
  <ion-nav-buttons side="right">
    <button class="button light button-icon ion-android-favorite-outline" ng-click="makeFavorite()">      
    </button>
    <!-- <button class="button light button-icon ion-android-more-vertical" ng-click="shareSocialMedia()"></button> -->
    <button class="button light button-icon ion-android-more-vertical" ng-click="openPopupMenu($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-item ng-if="loader" style="border-style: none;">
      <h2 style="margin-top:40%;"class="positive" align="center">
        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
      </h2>
    </ion-item>
    <div class="noborder nopadding" ng-if="!loader" style="position: relative;">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true" slide-interval="3000">
        <ion-slide ng-repeat="image in saloon.images">
          <div>
            <img style="height: 222px;width:100%" src="{{image.imageData}}">
          </div>
        </ion-slide>
      </ion-slide-box>
      <!-- <div class="item row noborder indexed noborder">
        <div class="col-20">
          <div class="circled" style="padding:6px 0 0 12px;" ng-click="dial()">
            <i class="icon balanced ion-ios-telephone" style="font-size: 25px"></i>
          </div>          
        </div>
        <div class="col-20">
          <div class="circled" style="padding:6px 0 0 10px;">
            <i class="icon ion-ios-navigate-outline" style="font-size: 25px" ng-click="showRoute()"></i>
          </div>          
        </div>
        <div class="col-20">
          <div class="circled" style="padding:7px 0 0 10px" ng-click="makeFavorite()">
            <i class="icon ion-android-favorite-outline" style="font-size: 25px" ng-if="!favorite"></i>
            <i class="icon ion-android-favorite calm" style="font-size: 25px" ng-if="favorite"></i>
          </div>          
        </div>
        <div class="col-20">
          <div class="circled" style="padding:5px 0 0 9px" ng-click="openWriteReviewModal()">
            <i class="icon ion-ios-star-half" style="font-size: 25px"></i>
          </div>          
        </div>
        <div class="col-20">
          <div class="circled" style="padding:4px 0 0 10px" ng-click="openReportModal()">
            <i class="icon calm ion-alert-circled" style="font-size: 25px"></i>
          </div>          
        </div>
      </div> -->
      <div class="item tabs calm" style="margin-top: -5px;background: #f1f1f1;">
        <a class="tab-item item1" ng-class="{'active':option==1}" ng-click="select(1)" 
        style="font-weight: 600;font-size: large;">
          Info
        </a>
        <a class="tab-item item1" ng-class="{'active':option==2}" ng-click="select(2)" 
        style="font-weight: 600;font-size: large;">
          Rate Card
        </a>
        <a class="tab-item item1" ng-class="{'active':option==3}" ng-click="select(3)" 
        style="font-weight: 600;font-size: large;">
          {{saloon.deals.length}}  Offers
        </a>      
      </div>
      <ion-list ng-show="information">
        <ion-item class="item item-icon-left item-text-wrap noborder">         
          <i class="icon ion-ios-clock calm" ></i>
          <span class="positive item-note" style="text-decoration: underline;" ng-click="openTimings($event)">
            All Timings
          </span>                     
          <p style="color:#28a54c" ng-if="saloon.status && saloon.open">Open Now</p>
          <p style="color:#ef473a" ng-if="!saloon.status && saloon.open">Close Now</p>
          <p style="color:#ef473a" ng-if="!saloon.open && !saloon.status">Close Today</p>
          <p style="font-weight: bold;font-size: 12px" ng-if="saloon.open">{{saloon.startTime}} to {{saloon.endTime}}</p>
        </ion-item>
        <!-- <ion-item class="item item-icon-left noborder nopadding item-text-wrap customitem" style="margin-bottom:5px">
          <span class="right wrap text-center rel padding">
              <span style="padding-left: 5px">
                <i class="icon icon1 calm ion-alert-circled" ng-click="openReportModal()"></i>
              </span><br>
            <span class="report">Report</span>
          </span>
          <i class="icon ion-ios-clock calm" ></i>                    
          <p style="color:#28a54c" ng-show="saloon.status && saloon.open">Open Now</p>
          <p style="color:#ef473a" ng-show="!saloon.status && saloon.open">Close Now</p>
          <p style="color:#ef473a" ng-show="!saloon.open">Close Today</p>          
          <p style="font-weight: bold;font-size: 12px" ng-if="saloon.open">{{saloon.startTime}} to {{saloon.endTime}}</p>
          <span class="positive item-note" style="text-decoration: underline;" ng-show="saloon.open" ng-click="openTimings($event)">
            All Timings
          </span> 
        </ion-item> -->
        <ion-item class="item item-icon-left item-text-wrap noborder">         
          <i class="icon">
            <img src="img/location.png" style="height: 45px;width: 30px">
          </i>          
          <p style="text-transform: capitalize;">{{saloon.fullAddress}}</p><br/>
          <h4>{{saloon.distance}} Kms 
            <span class="item-note positive" style="text-decoration: underline;" ng-click="showRoute()">
            Get Direction
            </span>
          </h4> 
        </ion-item>
        <ion-list >
          <ion-item class="item item-divider nopadding noborder" ng-if="reviews.length>0">
            <span style="margin-left: 10px;margin-top: ">{{reviews.length}} Reviews</span>            
            <span class="item-note" style="padding-right: 10px;font-size: 15px">
              <span ng-if="saloon.salonRating" style="font-weight: bold;color: #222;">{{saloon.salonRating}}</span>
              <i class="balanced icon ion-ios-star myicon" ng-repeat="star in saloon.fullStars"></i>
                <i class="balanced icon ion-ios-star-half myicon" ng-if="saloon.halfStar"></i>
              <i class="balanced icon ion-ios-star-outline myicon"ng-repeat="star in saloon.blankStars"></i>            
            </span>
          </ion-item>
          <ion-item class="item item-avatar" ng-repeat="review in reviewSecondary">
            <img src="img/logo.png" ng-if="!review.imageUrl">  
            <img src="{{review.imageUrl}}" ng-if="review.imageUrl">
            <h3>{{review.name}}
              <span class="item-note">
                <!-- {{review.userRating}}/5 -->
                <i class="energized icon ion-ios-star" ng-repeat="star in review.fullStars" 
                style="font-size:15px"></i>
                <i class="energized icon ion-ios-star-half" ng-if="review.halfStar" style="font-size:15px"></i>
                <i class="energized icon ion-ios-star-outline" style="font-size:15px" 
                ng-repeat="star in review.blankStars"></i>
              </span> 
            </h3>
            <p hm-read-more hm-text="{{review.comment}}" hm-limit="60" hm-more-text="See more" hm-less-text="See less"></p>
          </ion-item>
          <ion-item class="item noborder customeitem positive" style="text-decoration: underline;padding-left: 15px" 
          ng-if="reviews.length>0" ng-click="openReadReviewModal()">View All
          </ion-item>
          <!-- <span class="item-note positive" style="text-decoration: underline;" ng-click="showRoute()">            
              get direction
            </span> -->
          <!-- <ion-item class="item mydevider noborder item-calm text-center" style="font-size: 12px;padding-bottom: 24px;" 
          ng-click="openWriteReviewModal()" ng-if="saloon.reviewNumber>0">
            Write a Review
          </ion-item> -->                               
          <ion-list >
            <ion-item class="item item-divider mydevider noborder">
              About
            </ion-item>
            <ion-item class="item item-text-wrap noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-if="saloon.aboutUs">
              {{saloon.aboutUs}}    
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px">Gender
              <span class="item-note" ng-if="saloon.gender=='M'">Male</span>    
              <span class="item-note" ng-if="saloon.gender=='F'">Female</span>    
              <span class="item-note" ng-if="saloon.gender=='U'">Unisex</span>    
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-if="saloon.typeName">
              Type
              <span class="item-note" ng-if="saloon.typeName=='salon & spa'"
              style="text-transform: capitalize;">{{saloon.typeName}}                
              </span>
              <span class="item-note" ng-if="saloon.typeName!='salon & spa'">
                {{saloon.typeName}}
              </span>    
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-hide="saloon.categoryId=='1'">
              Category
              <span class="item-note">{{saloon.categoryName}}</span>    
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-if="saloon.categoryId=='1'">
              Brand
              <span class="item-note energized">
                {{saloon.brandName}}
              </span>
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-if="saloon.established">
              Established Since
              <span class="item-note">{{saloon.established}}</span>    
            </ion-item>            
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px"
             ng-if="saloon.contactPerson">
              Contact Person
              <span class="item-note" >{{saloon.contactPerson}}</span>
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-if="saloon.contactNumber">
              Contact Number
              <span class="item-note">
                {{saloon.contactNumber}}
              </span>
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px"ng-if="saloon.registeredEmail">
              Email ID
              <span class="item-note">
                {{saloon.registeredEmail}}
              </span>
            </ion-item> 
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px"ng-if="saloon.owner">
              Owner
              <span class="item-note">
                {{saloon.owner}}
              </span>
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px"ng-if="saloon.website">
              Website
              <span class="item-note">
                {{saloon.website}}
              </span>
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-if="saloon.videoLink">
              Video Link
              <span class="item-note">
                <i class="icon calm  ion-social-youtube-outline" style="font-size: 25px"
                ng-click="goToLink(saloon.videoLink)"></i>
              </span>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item class="item item-divider mydevider noborder" style="margin-top: 0">
              Features
            </ion-item>
            <ion-item class="item noborder nopadding customitem" style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-repeat="feature in saloon.features">
              {{feature.featureName}}
              <span class="item-note" style="text-transform: capitalize;">
                {{feature.present}}
              </span>
            </ion-item>
          </ion-list>  
          <ion-item class="item noborder nopadding row">
            <div class="col text-center" ng-if="saloon.facebookLink" style="border: 1px solid lightgrey" ng-click="goToLink(saloon.facebookLink)">
              <i class="icon calm ion-social-facebook-outline" style="font-size: 25px" ></i>
            </div>
            <div class="col text-center" ng-if="saloon.twitterLink" style="border: 1px solid lightgrey" ng-click="goToLink(saloon.twitterLink)">
              <i class="icon calm ion-social-tumblr-outline" style="font-size: 25px"></i>
            </div>
            <div class="col text-center" ng-if="saloon.videoLink" style="border: 1px solid lightgrey"ng-click="goToLink(saloon.videoLink)">
              <i class="icon calm  ion-social-youtube-outline" style="font-size: 25px"></i>
            </div>
            <div class="col text-center" ng-if="saloon.instagramLink" style="border: 1px solid lightgrey" ng-click="goToLink(saloon.instagramLink)">
              <i class="icon calm ion-social-instagram-outline" style="font-size: 25px"></i>
            </div>
            <div class="col text-center" ng-if="saloon.website" style="border: 1px solid lightgrey" ng-click="goToLink(saloon.website)">
              <i class="icon calm ion-android-wifi" style="font-size: 25px"></i>
            </div>
          </ion-item>         
        </ion-list>
      </ion-list>
      <ion-list class="padding" ng-show="rateCard">
        <div class="card" ng-if="saloon.rateImages.length==0 && saloon.rates.length==0"
          style="border-style: none;box-shadow: none;">
          <div class="item text-center item-text-wrap">
            <p style="color:grey">Call us to know our Rates and Services</p>
            <span class="icon ion-ios-telephone" style="font-size: 160px;color:grey;"></span>
          </div>
        </div> 
        <div style="margin-top: -19px;">
          <ion-list ng-if="saloon.rateImages.length>0">
            <ion-item class="item item-divider noborder calm">
              Rate Card Images
            </ion-item>
            <ion-scroll  direction="x" style="width:100%; height: 90px" ng-if="saloon.rateImages.length>0">
              <div  style="width:{{saloon.rateImages.length*76}}px">
                <div style="vertical-align: top;display: inline-block;text-align: center;width: 75px;" 
                ng-repeat="image in saloon.rateImages">
                  <img style="height:70px; width:70px; margin:10px 0px 0px 5px;" ng-src="{{image.url}}" 
                  ng-click="showImages(image)">                 
                </div>               
              </div>
            </ion-scroll> 
          </ion-list>            
          <ion-list ng-repeat="rateCard in saloon.rates">
            <ion-item class="item item-divider mydevider noborder" style="margin-top: -2px;">
             {{rateCard.category}}
            </ion-item>
            <ion-item id="subcategory" class="item noborder nopadding customitem" 
            style="border-bottom: 2px solid lightgrey;padding-bottom: 10px" ng-repeat="service in rateCard.subcategories">{{service.subcategory}}
              <span class="item-note" ng-if="saloon.currency='INR'" style="font-size: 16px;">
                <i class="icon">
                  <img src="img/rupee.png" style="height: 13px;width: 13px">
                </i> {{service.price}} +
              </span>
              <span class="item-note" ng-if="saloon.currency!='INR'" style="font-size: 16px;">
                <i class="icon">
                  <img src="img/rupee.png" style="height: 13px;width: 13px">
                </i> {{service.price}}
              </span>
            </ion-item> 
          </ion-list>
        </div>
        <div class="item nopadding noborder item-text-wrap" style="padding: 0 10px 0 10px;" ng-if="saloon.rateImages.length>0 || saloon.rates.length>0">
          <p style="text-align:justify-all;font-size: x-small;">salonsnearby.com does not guarantee prices of items mentioned in the above Rate Card which may have changed since the last time the website and app was updated.</p>
        </div>         
      </ion-list>
      <div class="list" ng-show="deals">
        <div class="card" ng-if="saloon.deals.length==0" style="border-style: none;box-shadow: none;">
          <div class="item text-center item-text-wrap">
            <p style="color:grey">No Offers Available</p>
            <span class="icon ion-android-star-half" style="font-size: 160px;color:grey;"></span>
          </div>
        </div> 
        <div class="card item-text-wrap" style="box-shadow: -2px 5px 37px goldenrod;" ng-repeat="deal in saloon.deals">
          <ion-item class="noborder customitem item">
            <h2 ng-if="deal.title" style="font-weight: bold;">{{deal.title}}</h2>
            <p style="padding: 5px 0px 5px 0;color: crimson">
              For <span class="real-price">Rs.{{deal.actualAmount}} </span> 
              at<span style="font-weight: bold;font-size: 20px;color: goldenrod;">
                  Rs.{{deal.discountedAmount}}
                </span>
            </p>
            <p style="padding-bottom: 25px;color: black">
              Validity: From
              <span style="color: blueviolet">
                {{deal.validFrom | date:'mediumDate'}}
              </span> to
              <span style="color: blueviolet"> 
                {{deal.validTill | date:'mediumDate'}}
              </span> 
            </p>
            <!-- <h3 ng-if="deal.description">Description:</h3> -->
            <h3 ng-if="deal.description">{{deal.description}}</h3>
            <p style="padding-left: 15px" ng-repeat="sub in deal.subDescriptions">
              <i class="icon ion-ios-circle-filled small-icon"></i>
              {{sub.subdesription}}
            </p>
            <h3 style="margin-top: 15px;" ng-if="deal.TnCs.length>0">
              Terms & Conditions
            </h3>
            <p style="padding-left: 15px;" ng-repeat="tnc in deal.TnCs">
              <i class="icon ion-ios-circle-filled small-icon"></i>
              {{tnc.tnc}}
            </p>
            <p style="padding-top: 15px;color: black" ng-if="deal.uniqueCode">
              Offer Code: <span style="text-transform: uppercase;color: darkmagenta">{{deal.uniqueCode}}</span>
            </p>
          </ion-item>
        </div>     
      </div>
    </div>       
    <script id="timings.html" type="text/ng-template">
      <ion-popover-view style="width: 250px">
        <ion-header-bar class="bar-calm">
          <h1 class="title">Weekly Timings</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>      
            <ion-item class="item noborder nopadding customitem" ng-repeat="day in saloon.timeTable | orderBy:'day'">
              <p ng-if="day.day==1 && day.open">Monday
                <span class="item-note calm" ng-if="day.open">
                  {{day.startTime}} to {{day.endTime}}
                </span>
              </p>
              <p ng-if="day.day==2 && day.open">Tuesday
                <span class="item-note calm" ng-if="day.open">
                  {{day.startTime}} to {{day.endTime}}
                </span>
              </p>
              <p ng-if="day.day==3 && day.open">Wednesday
                <span class="item-note calm" ng-if="day.open">
                  {{day.startTime}} to {{day.endTime}}
                </span>
              </p>
              <p ng-if="day.day==4 && day.open">Thursday
                <span class="item-note calm" ng-if="day.open">
                  {{day.startTime}} to {{day.endTime}}
                </span>
              </p>
              <p ng-if="day.day==5 && day.open">Friday
                <span class="item-note calm" ng-if="day.open">
                  {{day.startTime}} to {{day.endTime}}
                </span>
              </p>
              <p ng-if="day.day==6 && day.open">Saturday
                <span class="item-note calm" ng-if="day.open">
                  {{day.startTime}} to {{day.endTime}}
                </span>
              </p>
              <p ng-if="day.day==0 && day.open">Sunday
                <span class="item-note calm" ng-if="day.open">
                  {{day.startTime}} to {{day.endTime}}
                </span>
              </p>              
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-popover-view>
    </script>
  </ion-content>
  <ion-footer-bar class="bar-calm" style="display: flex">
    <div class="button-bar" ng-if="!loader">
      <button class="button button-calm button-full" ng-click="openWriteReviewModal()" 
      style="align-self: center;font-size: 16px;">Rate & Review
      </button>
      <button class="button button-calm button-full" ng-click="dial()" style="align-self: center;font-size: 16px;border-left: 2px solid white">
        Call to Book
      </button>
    </div>   
  </ion-footer-bar>
</ion-view>
