<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" id="searchLocation" ng-model="searchStr" placeholder="Search salon, spa or service" 
      autofocus>
    </label>
    <button class="button button-clear " ng-click="searchModal.hide()">
      <i class="ion-android-close" style="font-size:30px"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-item ng-if="loader" style="border-style: none;">
      <h2 style="margin-top:40%;"class="positive" align="center">
        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
      </h2>
    </ion-item>
    <div class="card" ng-show="modalsalons.length==0 && !loader" style="border-style: none;box-shadow: none;">
      <div class="item text-center item-text-wrap"> 
        <p style="color:grey">Coming soon in your location</p>
        <p style="color:grey">for now, try Kanpur</p>
        <img src="img/logo2.jpg" style="width: 130px;height: 130px;margin-top: 50px;">
      </div>
    </div>   
    <div class="list" ng-show="searchStr">
      <div class="card card1" ng-repeat="saloon in modalsalons | filter:searchStr">
        <img ng-src="{{saloon.imageUrl}}" class="myimage" ng-click=getSalonDetails(saloon)>  
        <div class="overimage right-effect" style=""></div>
        <span class="overimage premium">
          <span class="energized">{{saloon.categoryName}}</span>
        </span>
        <span class="overimage doorstep" ng-if="saloon.doorStepServices">
          <span class="energized">DOORSTEP</span>
        </span>
        <span class="overimage wrap review">            
          <span class="right">                
            <i class="energized icon ion-ios-star-half riview-icon"></i>
          <!-- <i class="energized icon ion-ios-star riview-icon" ng-repeat="star in saloon.fullStars"></i>
              <i class="energized icon ion-ios-star-half riview-icon" ng-if="saloon.halfStar"></i>
            <i class="energized icon ion-ios-star-outline riview-icon" 
              ng-repeat="star in saloon.blankStars"></i> -->
            <span ng-if="saloon.salonRating" style="font-size: 13px;">
              {{saloon.salonRating}}
            </span>
            <span ng-if="!saloon.salonRating" style="font-size: 13px;">0.0</span>
          </span>
          <p class="right" style="margin-top: 3px">{{saloon.reviewNumber}} Reviews</p>
        </span>
        <span class="overimage closed">
          <span class="assertive" ng-if="!saloon.status && saloon.open">Closed Now</span>
          <span class="balanced" ng-if="saloon.status && saloon.open">Open Now</span>
          <span class="assertive" ng-if="!saloon.open && !saloon.status">Closed Today</span>
        </span>
        <span class="overimage sex" ng-if="saloon.gender=='U'">
         <i class="icon ion-ios-people" style="font-size: 20px"></i>
        Unisex
      </span> 
      <span class="overimage sex" ng-if="saloon.gender=='M'">
        <i class="icon ion-man" style="font-size: 20px"></i>
        Male
      </span> 
      <span class="overimage sex" ng-if="saloon.gender=='F'" style=";">
        <i class="icon ion-woman" style="font-size: 20px"></i>
        Female
      </span> 
        <span class="overimage dial-button">
            <div class="circled" style="padding:6px 0 0 12px;" ng-click="dial(saloon.contactNumber)">
              <i class="icon balanced ion-ios-telephone" style="font-size: 25px"></i>
            </div>          
          </span>
          <ion-item class="overimage noborder effect customitem">
            <h3 style="color: white">
              {{saloon.name}}
            </h3>
            <p>
              <span style="width: 40%">{{saloon.area}}</span>
              <span style="padding-left: 10px" ng-if="saloon.distance">{{saloon.distance}} Kms</span>
              <span style="padding-left: 10px" ng-if="!saloon.distance">No distance</span>
              <span style="padding-left: 10px" ng-if="saloon.offerNumber>0">
              <i class="icon ion-ios-pricetags energized" style="font-size: 20px"></i>
              {{saloon.offerNumber}} Offers
              </span>
              <span style="padding-left: 10px" ng-if="saloon.offerNumber==0">
              No Offers
              </span>
            </p>
          </ion-item>
      </div>
    </div>
<!--     <a class="item item-thumbnail-left item-text-wrap" ng-repeat="salon in salons | orderBy:'id':true | filter:searchStr" ng-click="getSalonDetails(salon.id,salon.name)" ng-if="!loader">
      <h2 class="calm" style="text-transform: capitalize;">{{salon.name}} 
        <span class="item-note" style="background-color: green;color: white;padding: 2px" 
          ng-if="!saloon.salonRating">3.0
        </span>
        <span class="item-note" style="background-color: green;color: white;padding: 2px" 
          ng-if="saloon.salonRating">{{saloon.salonRating}}
        </span>
      </h2>
      <p style="text-transform: capitalize;">{{salon.area}}
        <span class="item-note" ng-if="!salon.distance">NA</span>
        <span class="item-note" ng-if="salon.distance">{{salon.distance}} Kms.</span>
      </p>
      <p>{{salon.typeName}}
        <span class="item-note">{{salon.categoryName}}</span>
      </p>
      <p>{{salon.priceUnit}} at {{salon.startingPrice}}/-
        <span class="item-note balanced" ng-if="salon.status">Open Now</span>
        <span class="item-note assertive" ng-if="!salon.status">Closed Now</span>
      </p>
    </a> -->
  </ion-content>
</ion-modal-view>