<ion-view title="Offers">
  <ion-content>
    <div class="list offers">
      <div class="card card1" ng-repeat="saloon in deals | orderBy:predicate:reverse">
        <ion-item class="noborder row" ng-click=getDetails(saloon)>
          <div class="col-30 circle-div">{{saloon.distance}} Kms</div>
          <div class="col-80 padding">
            <p id="uniqe" style="">{{saloon.name}}</p>  
            <p id="second">
              <span>{{saloon.area}}</span>
              <span style="font-size: 15px;">&#0149;</span>
              <span>{{saloon.typeName}},</span>
              <span ng-if="saloon.gender=='U'"> Men & Women</span>
              <span ng-if="saloon.gender=='M'"> Men</span>
              <span ng-if="saloon.gender=='F'"> Women</span>
            </p>        
          </div>
        </ion-item>
        <hr class="dott"/>
        <p style="padding-left: 5px">{{saloon.description}}</p>  
        <ion-item class="noborder second">          
          <p style="text-decoration: line-through;">Rs {{saloon.actualAmount}}</p>          
          <p>
            <span class="item-note"> 
              <button class="button button-royal button-small" ng-click="dial(saloon.contactNumber)">
                CALL
              </button>
            </span>
            <span id="first">Rs {{saloon.discountedAmount}}</span>
            <span id="terms">(Taxes Inclusive)</span>
          </p>          
        </ion-item>
      </div>
    </div>
    <div class="list">
      <div class="card card1">
        <ion-item class="noborder customitem item">
          <h3>Deal Title</h3>
          <p style="padding: 5px 0px 5px 0">For <span class="real-price">Rs.3800</span> <span style="font-weight: bold;">Rs.599</span></p>
          <p style="padding-bottom: 25px"><span style="font-weight: bold;">Validity: </span>From 05/06/2016 Till 07/11/2017</p>
          <h3>Description:</h3>
          <p>The Package will include:</p>
          <p style="padding-left: 15px">
            <i class="icon ion-ios-circle-filled small-icon"></i>
            Coffee
          </p>
          <p style="padding-left: 15px">
            <i class="icon ion-ios-circle-filled small-icon"></i>
            Tea
          </p>
          <p style="padding-left: 15px">
            <i class="icon ion-ios-circle-filled small-icon"></i>
            Soup
          </p>
          <h3 style="margin-top: 15px">Terms & Condition:</h3>
          <p style="padding-left: 15px">
            <i class="icon ion-ios-circle-filled small-icon"></i>
            Soup
          </p>
          <p style="padding-left: 15px">
            <i class="icon ion-ios-circle-filled small-icon"></i>
            Soup
          </p>
          <p style="padding-left: 15px">
            <i class="icon ion-ios-circle-filled small-icon"></i>
            Soup
          </p>
          <p style="padding-top: 15px">
            Offer Code: <span style="text-transform: uppercase;font-weight: bold;">cbvd34c</span>
          </p>
        </ion-item>
      </div>
    </div>
    <span style="text-decoration: underline;">all</span>
  </ion-content>
</ion-view>