<ion-popover-view>
    <ion-header-bar class="bar-calm">
      <h1 class="title">Weekly Timings</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>      
        <ion-item class="item noborder nopadding customitem">
          Sunday
          <span class="item-note calm">
            9:30AM-10:00PM
          </span>
        </ion-item>
        <ion-item class="item noborder nopadding customitem">
          Monday
          <span class="item-note calm">
            9:30AM-10:00PM
          </span>
        </ion-item>
        <ion-item class="item noborder nopadding customitem">
          Tuesday
          <span class="item-note calm">
            9:30AM-10:00PM
          </span>
        </ion-item>
        <ion-item class="item noborder nopadding customitem">
          Wednesday
          <span class="item-note calm">
            9:30AM-10:00PM
          </span>
        </ion-item>
        <ion-item class="item noborder nopadding customitem">
          Thursday
          <span class="item-note calm">
            9:30AM-10:00PM
          </span>
        </ion-item>
        <ion-item class="item noborder nopadding customitem">
          Friday
          <span class="item-note calm">
            9:30AM-10:00PM
          </span>
        </ion-item>
        <ion-item class="item noborder nopadding customitem">
          Saterday
          <span class="item-note calm">
            9:30AM-10:00PM
          </span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>