<ion-view title=" TERMS & CONDITIONS">
  <ion-content>
  	<ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
          Terms of Use
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>These Terms of Use read with the Privacy Policy available at www.salonsnearby.com and its web applications (jointly referred to as “Terms”) govern the use of the Services (as defined hereunder) offered by Salonsnearby at and through its website & Web Applications www.salonsnearby.com. These Terms may be changed by Salonsnearby from time to time at its sole discretion. The modified Terms shall be posted on the Site & Web Applications and shall be effective from the date of notification thereat. Your use of the Site & Web Applications subsequent to the modification will be deemed acceptance to the changes.</p>
        <p>PLEASE READ THESE TERMS CAREFULLY. THESE TERMS MAY HAVE CHANGED SINCE YOUR LAST VISIT TO THIS SITE & WEB APPLICATIONS. ACCESS TO THIS SITE & WEB APPLICATIONS IS SUBJECT TO YOUR ACCEPTANCE TO THESE TERMS (INCLUDING MODIFICATIONS THERETO, IF ANY, FROM TIME TO TIME). IF YOU DO NOT WANT TO BE BOUND BY THE TERMS, YOU MUST NOT SUBSCRIBE TO OR USE THE SITE & WEB APPLICATIONS.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
          DEFINITION
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>In these Terms, references to the following terms shall have the meanings ascribed to them hereunder:“you” and/or "User" shall mean the end user accessing the Site & Web Applications, its Contents and/or using the Services offered through the Site & Web Applications & Web Applications."Service Providers" mean independent third party service providers, and "we", "us" and "our" shall mean Salonsnearby, its franchisor, affiliates and partners. Other terms defined elsewhere under these Terms when used with capitalized first letter shall have the meaning ascribed to them thereunder.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
          ACCEPTANCE OF TERMS
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>Salonsnearby welcomes you to the Site & Web Applications. The Site & Web Applications is an internet based content and e-commerce portal which provides the Users (i) access to details of, (ii) reviews relating to, (iii) appointments for, and (iv) other services in relation to, the various services provided by different cosmetologists in the wellness industry including salons, spa, fitness centres, ayurvedic centres among others (collectively referred to as “Services”). Use of the Site & Web Applications is conditioned on the acceptance of these Term unconditionally, as may be posted on the Site & Web Applications from time to time. Salonsnearby at its sole discretion reserves the right not to accept a User from registering on the Site & Web Applications without assigning any reason thereof.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
          ACCOUNT AND PASSWORD
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>You will be required to register for an account on the Site & Web Applications in order to take advantage of certain features of the Services. If you choose to sign up and register an account on the Site & Web Applications or use third party account login services like facebook or google, you will fill in your complete and accurate details in the registration form available. You will be issued an account identity and password (“Subscription Account Information”) to access and use the Site & Web Applications upon due completion of the registration process. You will be responsible for (i) maintaining the security and confidentiality of, and (ii) all activities that occur under your, Subscription Account Information. You agree to (a) immediately notify Salonsnearby of any unauthorized use of your Subscription Account Information or any other breach of security, and (b) Salonsnearby recommends that you exit from your account at the end of each session if using a public computer. Salonsnearby will not be liable for any loss or damage arising from your failure to comply with this Section. Salonsnearby reserves the right to terminate your account at any time if (i) it is found that you have been sharing the Subscription Account Information with any unauthorized user or have been using account for any illegal or unauthorized purpose; or (ii) you do not access the account at the Site & Web Applications for a consecutive period of nine (9) months; or (iii) at the sole discretion of Salonsnearby, without notice to you.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
         INDEMNITY
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>You agree to defend, indemnify and hold harmless the Salonsnearby and its affiliates, officers, directors, employees, agents, partners and licensors from and against any and all claims, damages, obligations, losses, liabilities, costs, debt and expenses (including but not limited to attorney's fees) arising from or relating to: (i) your use of and access to, the Site & Web Applications including as a result of use of the Services, or any payment obligations incurred through use of the Services, or as a result of any interaction between you and another user; (ii) your violation of any these Terms; (iii) your violation of any rights of a third party, including without limitation any copyright, intellectual property, or privacy right. This Section will survive the termination of these Terms and your use of the Services.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
         INTELLECTUAL PROPERTY RIGHTS
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>The Site & Web Applications including the all text, graphics, user interfaces, visual interfaces, sounds and music (if any), artwork and computer code on the Site & Web Applications, and their selection and arrangement (collectively, the "Content"), is owned and controlled by Salonsnearby. The design, structure, selection, coordination, expression, look and feel and arrangement of such Content is protected by copyright, patent and trademark laws, and other applicable intellectual property laws. The trademarks, logos and service marks displayed on the Site & Web Applications ("Marks") are the property of Salonsnearby or its vendors. You are not permitted to use the Marks without the prior written consent of Salonsnearby or the applicable vendor who owns the concerned Mark. Unless otherwise indicated or anything contained to the contrary or any proprietary material owned by a third party and so expressly mentioned, Salonsnearby owns all intellectual property rights to and into the trademark "salonsnearby", and the Site & Web Applications, including, without limitation, any and all rights, title and interest in and to copyright, related rights, patents, utility models, designs, know-how, trade secrets and inventions (patent pending), goodwill, source code, meta tags, databases, text, content, graphics, icons, and hyperlinks. You acknowledge and agree that you shall not copy, republish, post, display, translate, transmit, reproduce or distribute any content on the Site & Web Applications through any medium without obtaining the necessary authorization from Salonsnearby or thirty party owner of such content. Links on the Site & Web Applications to third party website & Web Applicationss or information are provided solely as a convenience to you. Salonsnearby has no responsibility or liability for any content on other webSite & Web Applications's that you may find or access when using Services. Content available on or through other webSite & Web Applicationss may be protected by applicable copyright and other intellectual property laws. If you use these links, you will leave the Site & Web Applications. Such links do not constitute or imply an endorsement, sponsorship, or recommendation by Salonsnearby of the third party, the third-party’s website & Web Applications, or the information contained therein. In such a case, with respect to usage of the content, you will be governed by the terms of use of those website & Web Applications's, and not of the Site & Web Applications. With regard to the content available on the Site & Web Applications which is sourced from other third parties and/or where any such content is purchased or downloaded through the Site & Web Applications, the content usage rules as provided for hereunder will be applicable in addition to the third party rules contained in the respective third party end user license agreements. If you would like to link to the Site & Web Applications, you must seek prior written approval of Salonsnearby. Unless specifically authorized by Salonsnearby, you may not connect "deep links" to the Site & Web Applications, i.e., create links to this Site & Web Applications that bypass the home page or other parts of the Site & Web Applications. You may not mirror or frame the home page or any other pages of this Site & Web Applications on any other webSite & Web Applications or web page. Salonsnearby may source content from third parties and may at its discretion license to provide the content to you on the Site & Web Applications. Salonsnearby has taken all reasonable care to check the adequacy of the rights of the third party content providers. If you believe that your or any third party's intellectual property rights have been violated by Salonsnearby's inclusion of any part of the content on the Site & Web Applications, please send the following information to Salonsnearby at info@salonsnearby.com: description of the copyrighted work or other intellectual property right that you claim has been infringed; description of where the material that you claim is infringing is located on the Site & Web Applications; your name, address, telephone number and e-mail address where Salonsnearby may contact you; a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner, its agent, or the law; a statement by you that the above information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf; and such other information as you may deem necessary for your purpose. Salonsnearby will promptly examine the notice and forward your notice to the relevant content provider. Also when required and Salonsnearby will remove the content only if satisfied of the claim. It may request additional information before removing the infringing content from the Site & Web Applications, which you agree to provide.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
         DISCLAIMERS AND LIMITATION OF LIABILITY
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>Disclaimer regarding pictures and sounds: Salonsnearby disclaims any representation and warranties for the security, reliability, timeliness, and performance of (i) the Services, (ii) third party products or services advertised on or received through any links provided on this Site & Web Applications (iii) any information or advice received through such third paty’s website & Web Applications, links or products or services. Your use of the Site & Web Applications is at your sole risk unless otherwise explicitly stated. The Site & Web Applications, including the information, services and content is provided on an "as is", "as available" and "with all faults" basis with no representations or warranties whatsoever. All express, implied, and statutory representations and warranties, including, without limitation, the warranties of merchantability, fitness for a particular purpose, and non-infringement of third party rights, are expressly disclaimed to the fullest extent permitted by law. Information on the Site & Web Applications should not necessarily be relied upon and should not to be construed to be professional advice. Salonsnearby does not guarantee the accuracy or completeness of any of the information provided, and is not responsible for any loss resulting from your reliance on such information, Salonsnearby makes no warranty or representation that: (a) the Site & Web Applications or the data center that may be used by Salonsnearby will be uninterrupted, timely, secure, problem-free or error-free; (b) the results that may be obtained from the use of the Site & Web Applications will be accurate or reliable; (c) the quality of any products, services, content, information, or other material purchased or obtained from the Site & Web Applications will meet your expectations or requirements; or (d) any errors on the Site & Web Applications will be corrected. You understand and agree that any material, content or Services obtained or used through the use of this Site & Web Applications is done at your own discretion and risk and that you will be solely responsible for any damages to your computer system or loss of data that results in the download of such material, content or Services including any damages resulting from computer viruses. Disclaimer of representations and warranties: Pictures and sounds located or available on the Site & Web Applications do not give the right to authorize you to publish or republish any photographs, images, or audio or video files or any content accessed through the Site & Web Applications. All of the content which you locate by searching on the Site & Web Applications may be owned and served by third parties other than Salonsnearby. Salonsnearby may provide you with the url or address of the content. If you intend to make use of any content accessed through the Site & Web Applications for any commercial purposes, we strongly suggest that you contact info@salonsnearby.com for permission to use the content. To the full extent permitted by law, Salonsnearby is not liable for any direct, indirect, remote, punitive, special, incidental, consequential, or exemplary damages (including, without limitation, loss of business, revenue, profits, goodwill, use, data, electronically transmitted orders, or other economic advantage) arising out of or in connection with the Site & Web Applications, even if Salonsnearby has previously been advised of, or reasonably could have foreseen, the possibility of such damages, however they arise, whether in breach of contract or in tort (including negligence), including without limitation damages due to: (a) the use of or the inability to use the Site & Web Applications, content or service; (b) the cost of procurement of substitute content or services resulting from any goods, data, information or services purchased or obtained, or messages received or transactions entered into, through or from the Site & Web Applications; (c) statements or conduct of any third party on the Site & Web Applications, including without limitation unauthorized access to or alteration of transmissions or data, malicious or criminal behaviour, or false or fraudulent transactions; or (d) content, software or information you may download, use, modify or distribute.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
         TERMINATION
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>If you violate any of the Terms or if Salonsnearby has reasonable grounds to believe that you have violated any of the Terms, Salonsnearby may at any point of time, either temporarily or indefinitely, terminate your access to the Site & Web Applications or Services or any part thereof without waiving any other rights and without giving any prior notice to you. It is agreed that in the event Salonsnearby terminates your Services or your access to the Site & Web Applications because you do not make applicable payments on a timely basis, Salonsnearby has a right to suspend the service or your access to the Site & Web Applications immediately and take such other steps as may be permissible. You shall be liable to pay for any Service or product that you have already ordered till the time of termination by either party whatsoever. If you provide any information that is untrue, inaccurate, not current or incomplete, or Salonsnearby has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Salonsnearby has the right to suspend or terminate the service or your access to the Site & Web Applications (or any portion thereof).You also agree that your sole remedy under the Terms is cancellation of the Services.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
         GOVERNING LAW AND JURISDICTION
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>The agreement is governed by the laws of the republic of India. You consent to the exclusive jurisdiction and venue of courts in Kanpur, India in all disputes arising out of or relating to the use of the Site & Web Applications or Service.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
         SEVERABILITY
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>If any part of these Terms are determined by a court of competent jurisdiction to be invalid or unenforceable, that part shall be limited or eliminated to the minimum extent necessary so that the remainder of these Terms are fully enforceable and legally binding.</p>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider mydevider calm noborder" style="font-size: 12px;">
         TELEPHONE BOOKING
      </ion-item>
      <ion-item class="item noborder item-text-wrap">
        <p>Salonsnearby has no responsibility of information that is provided or commitment made by service provider in the conversions that arises out of the call that is made through salons nearby app or site with the intend to make a booking or to gather information. However if a user is not satisfied with the service provider, he/she can give the feedback to salonsnearby. </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>