<ion-view title="Update your info">
  <ion-content>
  	<ion-item class="item item-divider mydevider calm noborder">
        Update Your Info
    </ion-item>
  	<ion-item class="item noborder item-text-wrap">
		<p>To update your information in salonsnearby, email the changes from your registered E-mail ID to 
		<a href="mailto:support@salonsnearby.com?"><b>support@salonsnearby.com</b></a> with subject 
    <b>“Info Change”</b> and we will reply you with details.</p><br/>OR<br/>
  		<p>SMS <b>“INFO CHANGE”</b> to mobile no.: <b>7052-727-727</b> from your registered mobile number and we will get back to you. </p>
  	</ion-item>
  </ion-content>
</ion-view>