<ion-modal-view>
  	<ion-header-bar class="bar bar-header bar-calm">
	    <h1 class="title">Vender Terms & Condition</h1>
	    <div class="button button-clear" ng-click="venderModal.hide()">
	      	<i class="ion-android-close" style="font-size:30px"></i>
	    </div>
  	</ion-header-bar>
  	<ion-content scroll="true">
      	<ion-item class="item noborder item-text-wrap" style="font-size: 18px">
	        <p style="font-size: 16px;">We are Salonsnearby.com ("we" & "us") and have agreed with you, the company described on the attached Schedule (the "Partner", "you") that we will act as your disclosed Agent in order to promote your business through our internet website, android and IOS application.</p>
	        <p style="font-size: 16px;">Your content on salonsnearby.com regardless of the type of listing you have on salonsnearby.com, The Partner agrees to provide
			Salonsnearby.com a worldwide, non-exclusive, royalty free, right and license to:
			</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">
				<li>
					Use, publish, and advertise your name, logo and any other brand features through
					our Internet website for all purposes connected with the promotion of the Partner.
				</li>
				<li>
					As we have no obligation to monitor content you warrant that such content will be
					accurate in all material respects and shall not infringe any other person’s rights
					(including intellectual property rights) or be illegal. You agree to indemnify and
					hold harmless Salonsnearby.com and its officers, directors and employees (and any of its subsidiaries), from and against any and all claims, demands, obligations, causes of action and lawsuits and all damages, liabilities, fines, judgments, costs (including settlement costs), and expenses associated therewith (including the payment of reasonable legal fees and disbursements).
				</li>
			</ul>
			<p style="font-size: 16px;">Your listing on Salonsnearby.com Listings receive:</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">	
				<li>
					Images, business description, address and telephone/registered mobile number.
				</li>
				<li>
					There is no monthly fee for Listings.
				</li>
				<li>
					Ability to sell your services and Special Offers on Salonsnearby.com
				</li>
			</ul>
			<p style="font-size: 16px;">	We will provide a link to your own website and contact numbers: Our web visitors can
				reach you directly for enquiries and bookings over the phone.</p>
			<p style="font-size: 16px;">Your Services on Salonsnearby.com Services:</p>
			<p style="font-size: 16px;"><b>You shall ensure that all the offers that your notifying on salonsnearby are
				to be fullfiled by you in its totality. If for whatever reason you are unable or unwilling to
				fulfill the services outlined in the Offer/Deal, you shall be considered a material breach
				of this Agreement and shall face any legal requirements pertaining to theagreement.</b>
			</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">	
				<li>
					You are responsible for ensuring that all details and prices for your Treatments
					and Offers are correct.
				</li>
				<li>
					Where agreed, Salonsnearby.com will promote and market your services online.Price Guarantee:Where agreed, Salonsnearby.com will promote and market your services online.Price Guarantee:
				</li>
				<li>
					You must show your Services through Salonsnearby.com at a price which is the best available rate offered directly in the venue or through other publicly available
					channel.
				</li>
				<li>
					If a customer provides proof of a better price available for a service mentioned in Salonsnearby.com at your venue, you shall be considered a material breach of this
					Agreement and shall face any legal requirements pertaining to the agreement.
					Fulfillment of telephone bookings:
				</li>
				<li>
					For services fulfilled as a Telephone Booking, the consumer calls the you/salon directly and there will be a mutual decision on booking time. Salonsnearby takes no responsibility of the customer for any promise made by him/her is between you and the customer. The booking that you take are binding and shall be honored by you
					Else it will be considered a material breach of this Agreement and shall face any legal requirements pertaining to the agreement.
				</li>
			</ul>
			<p style="font-size: 16px;">User Reviews:</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">	
				<li>
					Salonsnearby.com website registered users have the ability to rate and review each of the listed venues. These ratings and reviews are the views of the user and not of Salonsnearby. Salonsnearby.com is in no way responsible for any of the content posted by a user about any venue.
				</li>
			</ul>
			<p style="font-size: 16px;">Customer Service and Customer data Handling report information customer complaints:</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">	
				<li>
					Salonsnearby.com shall refer all customer complaints to You and You shall recognize all complaints, and have respond, within 48 hours of your receipt of any complaint 
					(whether that receipt has come direct from the Customer or from Salonsnearby.com).
				</li>
			</ul>
			<p style="font-size: 16px;">Customer Information:</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">
				<li>Customer Information (including personal data) collected in accordance with this
					Agreement shall be owned by Salonsnearby.com unless you acquire the consent of the Customer directly.
				</li>
				<li>
					You cannot use Customer Information belonging to Salonsnearby.com for any purpose other than fulfillment of the Customer order. Breach of the Clause will be treated as a material breach of contract.
				</li>
			</ul>
			<p style="font-size: 16px;font-weight:bold">Term of the Agreement</p>
			<p style="font-size: 16px;">Initial term and renewal:</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">
				<li>
					The term of this Agreement is one (1) year commencing from the date of
					Signature unless cancelled with a 30-day notice by either party. Either party may
					cancel this agreement with 30-days notice.
				</li>					
			</ul>
			<p style="font-size: 16px;font-weight: bold;">Termination:</p>
			<p style="font-size: 16px;">Either party shall be entitled to immediately terminate this Agreement by written notice to the other if:</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">
				<li>
					That other party commits any breach of any of the provisions of this Agreement
					and, in the case of a breach capable of remedy, fails to remedy the same within 7
					days after receipt of a written notice giving full particulars of the breach and
					requiring it to be remedied;
				</li>
				<li>
					An encumbrance takes possession or a receiver is appointed over any of the
					property or assets of that other party;
				</li>
				<li>
					That other party makes any voluntary arrangement with its creditors or becomes
					subject to an administration order;
				</li>
				<li>
					That other party goes into liquidation (except for the purposes of amalgamation or
					reconstruction and in such manner that the company resulting there from
					effectively agrees to be bound by or assume the obligations imposed on that other
					party under this Agreement);
				</li>
				<li>
					Anything analogous to any of the foregoing under the law of any jurisdiction
					occurs in relation to that other party; or
				</li>
				<li>That other party ceases, or threatens to cease, to carry on business.</li>
			</ul>
			<p style="font-size: 16px;font-weight:bold">Miscellaneous</p>
			<p style="font-size: 16px;">Applicable laws</p> 	
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">
				<li>
					This Agreement shall be governed and interpreted in accordance with the laws of
					India.
				</li>
			</ul>
			<p style="font-size: 16px;font-weight:bold">Rights:</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">
				<li>
					All rights to the Salonsnearby.com Website and the content on it remain vested in us at all times. Nothing in this Agreement shall give You any rights in respect of any trade names or trade marks used by Salonsnearby.com in relation to the Distribution Channels or of the goodwill associated therewith.
				</li>
			</ul>
			<p style="font-size: 16px;">Salonsnearby.com & the Partner relationship:</p>
			<p style="font-size: 16px;">Salonsnearby.com and Partner are independent contractors and neither party is the legal 		representative, agent, joint venture, partner, or employee of the other
				party. The Partner shall not directly or indirectly prevent Salonsnearby.com working with any third party supplier of any nature. Either party may assign this agreement by providing the other party a 30-day written notice, provided that the assignee agrees to be bound by the terms and conditions of this agreement.
				Acceptance of terms and conditions:
			</p>
			<ul style="list-style: circle;list-style: circle;padding-left: 20px;font-size: smaller;">
				<li>
					Unless otherwise agreed in writing, by using the online website, selling any
					service through Salonsnearby.com you are agreeing to the terms and conditions of this agreement.
				</li>
			</ul>
			<p style="font-size: 16px;font-weight:bold">Confidentiality:</p>
			<p style="font-size: 16px;">Salonsnearby.com and Partner each agree to preserve and protect the terms and conditions 	of this Agreement as well as the confidentiality of each other's nonpublic
				business information, and will not disclose such confidential information to third parties without prior written consent. This paragraph shall survive the termination or expiration of this Agreement.
			</p>
			<p style="font-size: 16px;font-weight:bold">Indemnities:</p>
			<p style="font-size: 16px;">
				Each party shall indemnify, defend and hold the other party and the other party's officers, directors, partners, agents, employees, affiliates and licensees harmless from and against any and all claims, damages, liabilities, judgments, costs and expenses (including reasonable attorney's fees and disbursements) arising out of any breach of its representations or warranties to the other party, or any material breach of its covenants or agreements made to the other party hereunder. Partner shall indemnify, defend, and hold Salonsnearby.com harmless from and against any and all claims, damages, liabilities, judgments, costs, and expenses (including reasonable attorney's fees and disbursements) arising out of any action brought by any third party relating to the services provided (or not provided), or actions or (failure to act), of Partner or any of its representatives or any other individual or entity, including, without limitation any action brought in connection with any particular visit to Partner's property. This paragraph shall survive the
				termination or expiration of this agreement.
			</p>
			<p style="font-size: 16px;font-weight:bold">Execution of this agreement:</p>
			<p style="font-size: 16px;">
				This Agreement may be executed in counterparts, each of which shall be deemed an
				original, and all of which shall constitute one and the same agreement. This Agreement and any attachments constitutes the entire agreement between Salonsnearby.com and Partner with respect to the subject matter hereof, and supersedes all prior, whether written or oral, between the parties with respect to such subject matter.
			</p>
      	</ion-item>
  	</ion-content>
</ion-modal-view>