<ion-view title="Vendor Support">
  <ion-content class="rel">
    <ion-item class="item noborder nopadding text-center">
      <img src="img/logo.png" style="height: 150px;width: 150px">
    </ion-item>
    <ion-list class="list"> 
      <ion-item class="item padding item-text-wrap noborder">
        <p>To update your information, add a deal/offer, plan a promotional campaign with us or any other thing:</p>
        <p>Whatsapp or Call us at <b ng-click="dial(7052727727)">+91-7052 727 727</b></p>
        <p>Email at <a href="mailto:support@salonsnearby.com?"><b>support@salonsnearby.com</b></a></p>
      </ion-item>      
      <!-- <ion-item class="item item-icon-right" ui-sref="app.addOffers">
          Add Offers/ Deals
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="app.adBiz">
        Advertise Your Biz/Offer
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="app.updateInfo">
        Update your Info
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="app.otherQuery">
        Any Other Query
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="app.buisness">
        Add Your Buisness
        <i class="icon ion-ios-arrow-right"></i>    
      </ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>