<ion-view title="Work with us">
  <ion-content>
    <ion-item class="item noborder nopadding text-center">
      <img src="img/logo.png" style="height: 150px;width: 150px">
    </ion-item>
  	<!-- <ion-item class="item noborder">
  		<div style="height: 124px;width: 124px;border-radius: 50%;background-color: #EC1366;text-align: center;padding-top: 45px;color: floralwhite;margin: auto;border: 2px solid darkgrey;">Work with us</div>
  	</ion-item> -->
    <ion-item class="item padding item-text-wrap noborder">
      <p>If you wish to join our team, just drop your CV at <a href="mailto:ceo@salonsnearby.com?"><b>ceo@salonsnearby.com</b></a> with subject “CV” and we will get back as needed.</p>
    </ion-item>
  </ion-content>
</ion-view>