<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Submit Your Review</h1>
    <div class="button button-clear" ng-click="closeWriteReviewModal()">
      <i class="ion-android-close" style="font-size:30px"></i>
    </div>
  </ion-header-bar>
  <ion-content delegate-handle="messageScroll">
    <ion-list ng-if="!loader">
      <ion-item class="item noborder nopadding" ng-repeat="criteria in criterias" 
        style="padding: 12px 12px 36px 12px;position: relative;">
        <h4 style="color: grey">{{criteria.name}}</h4>
        <span class="text-center" style="display: inline;padding-top:3%;border-top: 1px solid lightgrey;position:absolute;width:100%;" >
          <span style="margin: 5%" ng-repeat="star in criteria.stars | orderBy:id:false"  ng-click="selectStars(star.id,criteria.id)">
              <i ng-class="star.selected==true ?'selected colored':'selected'" class="icon ion-ios-star " 
              style="font-size:20px"></i>
          </span>
        </span>
      </ion-item>
    </ion-list>
    <ion-item ng-if="loader">
      <h2 style="margin-top:40%;"class="positive" align="center">
        <ion-spinner icon="spiral" class="spinner-calm"></ion-spinner>
      </h2>
    </ion-item>
    <label class="item item-input item-stacked-label" style="margin-top: 20px"  ng-if="!loader">
      <span class="input-label">Review Title</span>
      <input type="text" ng-model="review.title" placeholder="Write any review title">
    </label>
    <label class="item item-input" ng-if="!loader">
    <textarea ng-model="review.comment" style="min-height:150px" placeholder="Write Your Review:-" autofocus></textarea>
    </label>
    <button class="button button-full button-calm" style="border-radius:5px;" ng-click="submitReview()" ng-if="!loader">
      Submit 
    </button>
  </ion-content>
</ion-modal-view>