<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Submit Your Report</h1>
    <div class="button button-clear" ng-click="writeReportModal.hide()">
      <i class="ion-android-close" style="font-size:30px"></i>
    </div>
  </ion-header-bar>
  <ion-content delegate-handle="messageScroll">
    <ion-item class="item noborder nopadding customitem">
      <span class="calm">Salon Name: </span><h4 style="text-transform: capitalize;">{{saloon.name}}</h4>
    </ion-item>
    <label class="item item-input"  style="margin-top: 20px">
      <input type="text" ng-model="report.title" placeholder="Write any report Title:-">
    </label>
    <label class="item item-input">
      <textarea ng-model="report.issues" style="min-height:150px" placeholder="Write Your Isuues:-"></textarea>
    </label>
    <button class="button button-full button-calm" style="border-radius:5px;" ng-click="submitReport()">
      Submit 
    </button>
  </ion-content>
</ion-modal-view>