.button-float{
     background: #EC1366 !important;
     color:white !important;
     border-color: #EC1366;
     z-index: 12 !important;
     position: absolute !important; 
     bottom: 65px !important;
     right: 10px !important;
     border-radius: 50% !important;
     box-shadow: 0 2px 5px 0  #EC1366!important;
     -webkit-transform: translate3d(0, 0, 0) !important;
     transform: translate3d(0, 0, 0) !important;
     -webkit-transition: 0.2s linear !important;
     transition: 0.2s linear !important;
     -webkit-transition-property: -webkit-transform, all !important;
     transition-property: transform, all !important;

}
/*.scroll-view.scroll-x {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}*/
.left-right-button{
    position: absolute;
    font-size: 40px;
    bottom: 25px;
    z-index:999;
}
.foating{
  position: fixed;
  z-index: 1000;
  bottom: -15px;
  right: 12px;
  /*box-shadow: 20px 20px 50px 20px gold;*/
}
.bottom{
    position: fixed;
  z-index: 1000;
  bottom: -50px;
  right: 12px;
}
/*.platform-android .button-float{
 background: #EC1366; !important;
 color:white !important;
 border-color: #EC1366;
 z-index: 12 !important;
 position: absolute !important; 
 bottom: 75px !important;
 right: 20px !important;
 border-radius: 50% !important;
 -webkit-transform: translate3d(0, 0, 0) !important;
 transform: translate3d(0, 0, 0) !important;
 -webkit-transition: 0.2s linear !important;
 transition: 0.2s linear !important;
 -webkit-transition-property: -webkit-transform, all !important;
 transition-property: transform, all !important;

}

.platform-ios .button-float{
 background: #EC1366; !important;
 color:white !important;
 border-color: #EC1366;
 z-index: 12 !important;
 position: absolute !important; 
 bottom: 65px !important;
 right: 10px !important;
 border-radius: 50% !important;
 -webkit-transform: translate3d(0, 0, 0) !important;
 transform: translate3d(0, 0, 0) !important;
 -webkit-transition: 0.2s linear !important;
 transition: 0.2s linear !important;
 -webkit-transition-property: -webkit-transform, all !important;
 transition-property: transform, all !important;

}*/

.button-float:hover{
 -webkit-transform: translate3d(0, -1px, 0)  !important;
 transform: translate3d(0, -1px, 0) !important;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
   background: darken(#EC1366;, 10%) !important;
}

ion-infinite-scroll:not(.active) .spinner,
ion-infinite-scroll:not(.active) .icon:before {
    display: inline-block;
}
.vr {
    width: 1px;
    background-color: whitesmoke;
    position: absolute;
    top: 5px;
    bottom: 25px;
    right: 0;
}
.border-right{
    border-right: 1px solid white;
}
.bar.bar-calm .title {
    color: white;
    font-size: 17px !important;
}
.platform-ios .popover-arrow, .platform-ios .popover-arrow {
    display: none !important;
}
.caption {
   display: block;
   font-size: 85%;
   color: white;
   margin:0;
   margin-top:-5px;
}
div.scroller-item {
   vertical-align: top;
   display: inline-block;
   text-align: center;
   width: 75px;
}
div.scroller-item.active{
    /*border-bottom: 5px solid gold;*/
    /*background: #800302;*/
}
.scroll-image{
    height:40px;
    width:40px;
    margin:2px 5px;
    /*border-radius:50%;*/
}
.mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    filter: alpha(opacity=100) !important;
    opacity: 1.0  !important;
}
.slider-pager {
    position: absolute;
    bottom: 14px;
    z-index: 1;
    width: 100%;
    height: 15px;
    text-align: center;
}
.slider-pager .slider-pager-page {
    display: inline-block;
    margin: 0; 
    width: 12px;
    color: black;
    text-decoration: none;
    opacity: 0.3;
}
.small-icon{
    font-size: 11px;
}
i.ion-record {
    font-size: 50%;
}
.transparent{
    background-color: transparent;
}
.item-radio .radio-icon {
    top: -9px;
}
.item-checkbox .checkbox{
 right: initial !important;
}

.button.button-stable {
    border-color: transparent;
    background-color: lightgrey;
    color: black;
}
.offers{
    background-color: #F7F7F7;
    font-family: Lato;
}
.offers .card1 .row .col p{
    margin: 1px 1px 0px;
}
.absolute{
    position: absolute;
}
.offers .card1 .row .col .gender{
    left: -60px;
    bottom: 4px;
}
.offers .card1 .row .col .category{
    left: -60px;
    bottom: 21px;
    color: #aaa;
    text-transform: capitalize;
}
.offers .card1 .row .col .button-small{
    min-width: 60px;
}
.offers .card1 .row .col span
{
    right: 10px;
    bottom: 4px;
}
.offers .card1 .row .col .energized{
    font-weight: bolder;
    font-size: 18px;
    font-size: 20px;
    color: #e6b500;
}
.offers .card1 .deal-title{
    padding-top: 5px;
    color: olive;
    font-size: 17px;
}
.real-price{
    text-decoration: line-through;
}
/*.offers .card1{
    margin: 10px
}*/
.rating{
    background-color: green;
    color: white;
    padding: 2px
}
.icon1{
    font-size: 35px;
    position: absolute;
    left: -11px;
    top: -6px;
}
.report
{
    color: grey;
    position: absolute;
    right: 0;
    top: 25px;
}
.direction{
    position: absolute;
    right: 4px;
    top: 40px;
    width: 56px;
    text-align: center;
}
/*for the listing screen*/
.bottom-bordered{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}
.card2{
    position: absolute;
    height: 48%;
    width: 98%;
}
.sex{
    top:71px;
    right:5px;
    padding: 4px;
    font-size: 13px
}
.review p
{
 color: white;   
}
.effect p
{
    color: white;
}
.dial-button
{
    bottom:3px;
    right:0;
    z-index: 2000;
    padding: 4px;
    font-weight: bold;
}
.right
{
    float: right;
    color: white;
}
.closed
{
    top:125px;
    right:5px;
    padding: 4px;
    font-size: 13px;
    font-weight: bolder;

}
.riview-icon
{
    font-size: 15px;
}
.review
{
    top:29px;
    right:5px;
    width: 80px;
}
.doorstep
{
    top:100px;
    right:5px;
    padding: 4px;
    /*background-color:black;*/
    color: blue;
    font-size: 13px
}
.premium
{
    top:2px;
    right:5px;
    /*background-color: midnightblue;*/
    padding: 4px;
    border-radius:10%;
    text-transform: uppercase;
    font-size: 13px
}
.right-effect{
    width: 120px;
    height: 200px;
    top: 0;
    right: 0;
    background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, transparent , black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, transparent, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, transparent, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, transparent , black); /* Standard syntax */
}
.effect{
    width: 100%;
    bottom:0;
    left:0;
    background-color: transparent;
    background: -webkit-linear-gradient(transparent, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, black); /* Standard syntax (must be la*/
    }
.overimage{
    position: absolute;
    color: white;
    text-transform: capitalize;
}
.card1{
    position: relative;
    margin: 4px;
}
.myimage
{
    width: 100%;
    height: 200px;
    /*-webkit-filter: brightness(60%);
    filter: brightness(60%);*/
}
/*end for the listing screen*/
.colored{
    color: #ffc900;
}
.item-radio .item-content {
   padding: 12px 49px 12px 16px;
   border-style: 1px solid grey;
   /*border-top: 2px dotted grey;*/
}

.indexed 
{
    padding-left: 9%;
    background-color: transparent;
    position: absolute;
    top:194px;
    z-index: 1000;
}
.circled
{
    background-color: #56504E;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding:6px 0 0 10px;
    color: white;
}
.shadow {
  -webkit-box-shadow: 0px 1px 2px 2px green; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 1px 2px 2px green; /* Firefox 3.5 - 3.6 */
      box-shadow: 0px 1px 2px 2px green;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.bar .title {
    left: 0;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
    padding-top: 8px;
    padding-left: 76px;
    min-height: 60px;
}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 60px;
    max-height: 45px;
    width: 100%;
    height: 100%;
}
.content-image
{
    position: relative;
    width: 100%;
    border-style: none;
}
.profile-image
{   
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-style: none;
}
.bg-img {
    border-style: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: 2;
    width:150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    left: 0;
    right: 0;
 }
.bg-img:before {
   color: #f8f8f8;
   content: "\f3f5";
   font-family: "Ionicons";
   font-size: 3em;
   position: relative;
   top: 60px; 
}
.item-checkbox .ng-not-empty
{
    color: #EC1366;
}
.media-body >h4{
    margin-top: 0
}
.circle-div{
    height: 100px;
    width: 100px;
    color: white;
    padding: 17px;
    background-color: #6495ED;
    /* padding-top: 14px; */
    text-align: center;
    font-size: 17px;
    border-radius: 50%;
    margin: auto;
    box-shadow: -4px -3px 45px #888888
}
.icon-image{
    height: 40px;
    width: 40px;
}
.circle-div1{
    height: auto;
    width: auto;
    /*color: blue;
    border: 1px solid blue;
    border-radius: 50%;*/
    margin: auto;
    padding-top: 5px;
}
.search-list .media-body .energized {
    font-size: 12px;
    line-height: 1.5;
    color: #e29652;
}
.search-list .media-body > p >i {
    color: #e29652;
    margin-top: 2px;
    font-size: 15px;
    margin-bottom: 2px !important;
}/* Empty. Add your own CSS if you like */
.mytab{
    padding-top:7px;
}
.button-item
{
    position:absolute;
    width: 100%;
    position: absolute;
    height: 70px;
    top: 0;
    background: linear-gradient(black,transparent);
}
.circle-text{
    width:100%;
    height:auto;
    padding-left: 20px;
    padding-top:5px;
    position:absolute;
    font-size:16px;
    background: linear-gradient(transparent, black);
}
div.footer-button a.button.button-full {
    width:100%;
    margin-top: 0
}
img:hover{

    -webkit-filter: brightness(90%);
    filter: brightness(90%);
}
.filter-image img{

    -webkit-filter: brightness(100%);
    filter: brightness(100%);

}
.checkpadding
{
    padding: 7px 10px 7px 50px;
    font-size: 15px;
}
.rel {
    position: relative;
    /*margin-top: -2px;*/
} 
.titlefontsize{
  font-size: 100%;
}
.overlay1
{
    margin-top: 25px;
    font-weight: bold
}
.overlay {
    position: absolute;
    top: 7%;
    left: 9%;
    text-transform: capitalize;
    font-weight: bold;    
}
.full-image
{
    border-radius: 10%;
    height:100px;
    width:100%;
}
.mycard{
    padding-bottom:10px;
}
.noborder
{
    border-style:none;
}
.fixitem{
    font-size:15px;
    margin-bottom:10px;
}
.myitem1{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    font-size:15px;
}
.myitem{
    padding-top:5;
    padding-bottom:0;
}
.myicon{
    font-size:20px;
}
.mypadding
{
    padding-top:0;
    padding-bottom:5px
    padding-left:15px
}
.nopadding{
    padding: 0;
}
.mydevider
{
    margin-top: 5px;
    margin-bottom: 5px;
    height:15px;
    padding-bottom:5px;
    padding-top:3px;
    padding-left:7px;    
}
  .customitem{
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    font-size:14px;
}
.underlined-item
{
  text-decoration: underline;
  font-size:14px
}

.profile-round{
   height:150px;
   width: 150px;
   border-radius:50%;
}
.profile-round-only{
   
   border-radius:50%;
}
.item1.active{
    color: #EC1366;
    border-bottom:none;
  }
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated
{
    color: #EC1366;
    border-bottom: 2px solid #EC1366;   
}